:root {
  /* input control */
  --v-input-height: 2.5rem;
  --v-input-border-color: theme('colors.gray.300');
  --v-input-placeholder-color: theme('colors.gray.500');
  --v-input-border-radius: theme('borderRadius.md');
  --v-input-padding-x: theme('padding.3');
  --v-input-padding-y: theme('padding.2');
  --v-input-font-size: theme('fontSize.base');
  --v-input-bg-color: theme('colors.white');

  /* label */
  --v-input-label-font-size: theme('fontSize.sm');
  --v-input-label-font-weight: theme('fontWeight.semibold');
  --v-input-label-display: block;
  --v-input-label-margin-bottom: theme('margin.1');

  /* text */
  --v-input-text-color: theme('colors.gray.600');
  --v-input-text-font-size: theme('fontSize.sm');
  --v-input-text-font-weight: theme('fontWeight.normal');

  /* icon */
  --v-input-icon-width: theme('width.5');
  --v-input-icon-height: theme('height.5');
  --v-input-icon-color: theme('colors.gray.500');
}

.v-input-label {
  font-size: var(--v-input-label-font-size);
  font-weight: var(--v-input-label-font-weight);
  display: var(--v-input-label-display);
  margin-bottom: var(--v-input-label-margin-bottom);
}

.v-input.v-input--textarea .v-input-control {
  @apply w-full focus:ring-1 focus:border-primary-500 focus:ring-primary-500;
}

.v-input.v-input--textarea .v-input-control,
.v-input-wrapper {
  border: 1px solid var(--v-input-border-color);
  border-radius: var(--v-input-border-radius);
  background-color: var(--v-input-bg-color);

  @apply relative flex items-center transition duration-300;
}

.v-input:not(.v-input--textarea) .v-input-wrapper {
  @apply focus-within:ring-1;
}

.v-input-prepend:empty,
.v-input-append:empty {
  display: none;
}
.v-input-prepend:not(:empty) {
  border-top-left-radius: var(--v-input-border-radius);
  border-bottom-left-radius: var(--v-input-border-radius);

  @apply px-3;
}
.v-input-append:not(:empty) {
  border-top-right-radius: var(--v-input-border-radius);
  border-bottom-right-radius: var(--v-input-border-radius);

  @apply px-3;
}
.v-input-prepend,
.v-input-append {
  @apply self-stretch flex items-center;
}

.v-input-control {
  flex: 1;
  border-radius: var(--v-input-border-radius);
  font-size: var(--v-input-font-size);
  background-color: transparent;

  @apply focus:ring-0 border-none focus:border-none focus:outline-none;
}
.v-input-control:not(textarea):not(select) {
  height: var(--v-input-height);
}

.v-input:has(.v-input-prepend:not(:empty))
  .v-input-control:not(.v-input-control--has-prepend-class) {
  @apply pl-0;
}
.v-input:has(.v-input-append:not(:empty))
  .v-input-control:not(.v-input-control--has-append-class) {
  @apply pr-0;
}

.v-input-control::placeholder {
  color: var(--v-input-placeholder-color);
}

/* colors */

.v-input.v-input-default .v-input-wrapper,
.v-input.v-input-primary .v-input-wrapper {
  @apply focus-within:border-primary-500 focus-within:ring-primary-500;
}
.v-input.v-input-secondary .v-input-wrapper {
  @apply focus-within:border-secondary-500 focus-within:ring-secondary-500;
}
.v-input.v-input-info .v-input-wrapper {
  @apply focus-within:border-info-500 focus-within:ring-info-500;
}
.v-input.v-input-warning .v-input-wrapper {
  @apply focus-within:border-warning-500 focus-within:ring-warning-500;
}
.v-input.v-input-success .v-input-wrapper {
  @apply focus-within:border-success-500 focus-within:ring-success-500;
}
.v-input.v-input-error .v-input-wrapper {
  @apply focus-within:border-error-500 focus-within:ring-error-500;
}
.v-input.v-input-dark .v-input-wrapper {
  @apply focus-within:border-gray-500 focus-within:ring-gray-500;
}
/* error */
.v-input.v-input--error .v-input-wrapper {
  @apply border-error-500 focus-within:border-error-500 focus-within:ring-error-500;
}
.v-input-error {
  @apply text-error-500 text-sm mt-1 transition duration-300;
}

/* disabled */
.v-input.v-input--disabled .v-input-wrapper {
  @apply border-gray-200 bg-gray-100;
}
.v-input.v-input--disabled .v-input-control {
  @apply cursor-not-allowed;
}
/* shadow */
.v-input.v-input--shadow .v-input-wrapper {
  @apply shadow-sm;
}
/* text */
.v-input-text {
  color: var(--v-input-text-color);
  font-size: var(--v-input-text-font-size);
  font-weight: var(--v-input-text-font-weight);
}

/* icon */
.v-input-icon {
  width: var(--v-input-icon-width) !important;
  height: var(--v-input-icon-height) !important;
  color: var(--v-input-icon-color);
}

/* sizes */
.v-input.v-input--sm {
  --v-input-height: 2rem;
  --v-input-padding-x: theme('padding.2');
  --v-input-padding-y: theme('padding.1');
  --v-input-font-size: theme('fontSize.sm');
  --v-input-label-font-size: theme('fontSize.xs');
}
.v-input.v-input--sm .v-input-icon {
  --v-input-icon-width: theme('width.4');
  --v-input-icon-height: theme('height.4');
}
.v-input.v-input--sm .v-input-prepend:not(:empty) {
  @apply px-2;
}

.v-input.v-input--lg {
  --v-input-height: 50px;
  --v-input-padding-x: theme('padding.5');
  --v-input-padding-y: theme('padding.3');
  --v-input-font-size: theme('fontSize.lg');
  --v-input-label-font-size: theme('fontSize.base');
}
.v-input.v-input--lg .v-input-icon {
  --v-input-icon-width: theme('width.7');
  --v-input-icon-height: theme('height.7');
}

.v-input-clearable {
  @apply cursor-pointer w-7 h-7 flex items-center justify-center
  hover:bg-gray-100 active:bg-gray-50 rounded-full mr-2;
}

.v-input-footer {
  @apply flex justify-between mt-1;
}

.v-input-counter {
  /*  */
}
