@import 'indigo';

:root {
  // light
  --scrollbar-track-bg-color: var(--color-gray-100);
  --scrollbar-thumb-bg-color: var(--color-gray-true-300);
  --scrollbar-thumb-hover-bg-color: var(--color-gray-true-500);

  // dark
  --dark-scrollbar-track-bg-color: var(--color-gray-true-500);
  --dark-scrollbar-thumb-bg-color: var(--color-gray-true-600);
  --dark-scrollbar-thumb-hover-bg-color: var(--color-gray-true-700);
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-true-700);
}

// custom alert
.alert-indigo {
  --alert-bg-color: var(--color-indigo-600)
  --alert-border-color: var(--color-indigo-600)
  --alert-text-color: var(--color-indigo-100)
}

// SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg-color);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg-color);
  visibility: hidden;
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-bg-color); 
}

// DARK MODE
.dark {
  // scrollbar
  --scrollbar-track-bg-color: var(--dark-scrollbar-track-bg-color);
  --scrollbar-thumb-bg-color: var(--dark-scrollbar-thumb-bg-color);
  --scrollbar-thumb-hover-bg-color: var(--dark-scrollbar-thumb-hover-bg-color);
  
  body {
    background-color: var(--color-gray-true-900);
    color: var(--color-gray-true-200);
  }
}

.scroll {
  overflow: auto;
}

.scroll:active::-webkit-scrollbar-thumb,
.scroll:focus::-webkit-scrollbar-thumb,
.scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: theme("colors.zinc.600");
  visibility: hidden;
  border-radius: 1rem;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll::-webkit-scrollbar-track {
  background-color: white;
}