---
import {VAppBar} from '@morpheme/ui'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<VAppBar
  client:only="vue"
  color="primary"
  class="!shadow-xs !shadow-primary-700"
>
  <div class="container flex justify-center mx-auto">
    <a class="font-semibold">{title}</a>
  </div>
</VAppBar>