@media (prefers-color-scheme: dark) {
  :root {
    --dropdown-bg-color: theme('colors.neutral.800');
    --dropdown-button-icon-color: theme('colors.neutral.400');
    --dropdown-item-color: theme('colors.neutral.200');
    --dropdown-item-icon-color: theme('colors.neutral.400');
  }

  .dropdown {
    &-panel {
      background-color: theme('colors.neutral.800');
    }

    &-divider {
      border-bottom-color: theme('colors.neutral.700');
    }

    &-item {
      &--active {
        background-color: theme('colors.neutral.700');
      }
    }
  }
}
