[build.environment]
  NODE_VERSION = "16"

[build]
  publish = "apps/playground/dist"
  command = "npx pnpm i --store=node_modules/.pnpm-store && npx pnpm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200