.dark {
  .app-bar {
    &-default {
      --app-bar-bg-color: theme('colors.neutral.800');
      --app-bar-color: theme('colors.neutral.200');
      --app-bar-border-color: theme('borderColor.neutral.700');
    }
  }
}
