@media (prefers-color-scheme: dark) {
  :root {
    --nav-drawer-bg-color: theme('colors.neutral.800');
    --nav-drawer-text-color: theme('colors.neutral.200');
  }

  .nav-drawer {
    /* variants */
    &-default {
      --nav-drawer-bg-color: theme('colors.neutral.800');
    }
  }
}
