:root {
  --vp-primary: #28a0f6;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    var(--vp-primary)
  );
  --vp-c-brand: var(--vp-primary);
  --vp-c-brand-lighter: #4fb1f8;
  --vp-c-brand-darker: #0984dd;
  --vp-c-brand-dark: #0984dd;
}

h4,
h3,
h5,
h6 {
  margin-bottom: 16px;
}

.playground-container {
  display: flex;
  margin: 0 auto;
  max-width: calc(var(--vp-layout-max-width) - 64px);
  height: var(--vp-nav-height);
  pointer-events: none;
}

.playground-container iframe {
  border: 0;
  height: calc(100vh - 100px);
  flex: 1 1 0%;
}
