:root {
  --v-pagination-shadow: theme('boxShadow.sm');

  /* item */
  --v-pagination-item-padding-x: theme('padding.4');
  --v-pagination-item-padding-y: theme('padding.2');
  --v-pagination-item-bg-color: theme('colors.white');
  --v-pagination-item-text-color: theme('colors.gray.700');
  --v-pagination-item-border-color: theme('colors.gray.300');
  --v-pagination-item-border-radius: theme('borderRadius.DEFAULT');
  --v-pagination-item-border-width: theme('borderWidth.DEFAULT');
  --v-pagination-item-font-size: theme('fontSize.sm');
  --v-pagination-item-font-weight: theme('fontWeight.medium');
  --v-pagination-item-height: 38px;
  --v-pagination-item-gap: theme('padding.2');

  /* item active */
  --v-pagination-item-active-bg-color: theme('colors.primary.500');
  --v-pagination-item-active-border-color: theme('colors.primary.500');
  --v-pagination-item-active-text-color: theme('colors.white');

  /* item hover */
  --v-pagination-item-hover-bg-color: theme('colors.gray.50');

  /* item disabled */
  --v-pagination-item-disabled-bg-color: inherit;
  --v-pagination-item-disabled-text-color: theme('colors.gray.400');

  /* item action */
  --v-pagination-item-action-padding-x: theme('padding.2');
  --v-pagination-item-action-padding-y: theme('padding.2');
  /* action sm */
  --v-pagination-sm-item-action-padding-x: theme('padding.2');
  --v-pagination-sm-item-action-padding-y: theme('padding.2');
  /* action sm */
  --v-pagination-lg-item-action-padding-x: theme('padding.4');
  --v-pagination-lg-item-action-padding-y: theme('padding.4');
}

.v-pagination {
  box-shadow: var(--v-pagination-shadow);

  @apply inline-flex items-center -space-x-px;

  &--flat {
    --v-pagination-shadow: none;
  }

  &-item {
    background: var(--v-pagination-item-bg-color);
    color: var(--v-pagination-item-text-color);
    border: 1px solid var(--v-pagination-item-border-color);
    padding: var(--v-pagination-item-padding-y)
      var(--v-pagination-item-padding-x);
    font-size: var(--v-pagination-item-font-size);
    font-weight: var(--v-pagination-item-font-weight);
    height: var(--v-pagination-item-height);
    gap: var(--v-pagination-item-gap);

    @apply relative inline-flex items-center;

    &:disabled {
      background: var(--v-pagination-item-disabled-bg-color);
      color: var(--v-pagination-item-disabled-text-color);

      @apply cursor-not-allowed;
    }

    &:first-child {
      border-top-left-radius: var(--v-pagination-item-border-radius);
      border-bottom-left-radius: var(--v-pagination-item-border-radius);
    }

    &:last-child {
      border-top-right-radius: var(--v-pagination-item-border-radius);
      border-bottom-right-radius: var(--v-pagination-item-border-radius);
    }

    &:hover:not(&--active):not(&--ellipsis):not(:disabled) {
      background: var(--v-pagination-item-hover-bg-color);
      color: var(--v-pagination-item-hover-text-color);
    }

    &--action {
      padding: var(--v-pagination-item-action-padding-y)
        var(--v-pagination-item-action-padding-x);
    }

    &--active,
    &--active:hover {
      --v-pagination-item-bg-color: var(--v-pagination-item-active-bg-color);
      --v-pagination-item-border-color: var(
        --v-pagination-item-active-border-color
      );
      --v-pagination-item-text-color: var(
        --v-pagination-item-active-text-color
      );
    }

    &--ellipsis {
      --v-pagination-bg-color: transparent;
      --v-pagination-border-color: transparent;
    }
  }

  /* sizes */
  &--sm {
    --v-pagination-item-height: 30px;
    --v-pagination-item-font-size: theme('fontSize.xs');
    --v-pagination-item-padding-x: theme('spacing.3');
    --v-pagination-item-padding-y: theme('spacing.1');
  }

  &--sm &-item--action {
    padding: var(--v-pagination-sm-item-action-padding-y)
      var(--v-pagination-sm-item-action-padding-x);
  }

  &--lg {
    --v-pagination-item-height: 46px;
    --v-pagination-item-font-size: theme('fontSize.base');
    --v-pagination-item-padding-x: theme('spacing.5');
    --v-pagination-item-padding-y: theme('spacing.3');
  }

  &--lg &-item--action {
    padding: var(--v-pagination-lg-item-action-padding-y)
      var(--v-pagination-lg-item-action-padding-x);
  }
}
