:root {
  --breadcrumbs-gap: theme('spacing.3');
  --breadcrumbs-margin-bottom: theme('spacing.3');
  --breadcrumbs-font-weight: theme('fontWeight.medium');

  // item
  --breadcrumbs-item-color: theme('colors.gray.800');

  // item hover
  --breadcrumbs-item-hover-color: theme('colors.primary.700');

  // item active
  --breadcrumbs-item-active-color: theme('colors.primary.500');

  // item disabled
  --breadcrumbs-item-disabled-color: theme('colors.gray.500');

  // divider
  --breadcrumbs-divider-font-size: theme('fontSize.sm');
  --breadcrumbs-divider-font-weight: theme('fontWeight.medium');
  --breadcrumbs-divider-color: theme('colors.gray.400');
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: var(--breadcrumbs-gap);
  margin-bottom: var(--breadcrumbs-margin-bottom);

  // elements
  &-item {
    color: var(--breadcrumbs-item-color);
    font-weight: var(--breadcrumbs-font-weight);

    &:hover {
      color: var(--breadcrumbs-item-hover-color);
    }

    &--active {
      color: var(--breadcrumbs-item-active-color);
    }

    &--disabled {
      color: var(--breadcrumbs-item-disabled-color);
    }
  }

  &-divider {
    font-size: var(--breadcrumbs-divider-font-size);
    font-weight: var(--breadcrumbs-divider-font-weight);
    color: var(--breadcrumbs-divider-color);
  }
}
