@media (prefers-color-scheme: dark) {
  :root {
    --v-modal-text-color: theme('colors.neutral.200');
    --v-modal-bg-color: theme('colors.neutral.800');
    --v-modal-title-color: theme('colors.neutral.200');
  }
}
