:root {
  --v-modal-text-color: theme('colors.gray.800');
  --v-modal-bg-color: theme('colors.white');
  --v-modal-border-radius: theme('borderRadius.md');
  --v-modal-z-index: 30;
  --v-modal-shadow: theme('boxShadow.lg');
  --v-modal-width: 25rem;
  --v-modal-max-width: 100%;

  /* content */
  --v-modal-content-padding-x: theme('padding.4');
  --v-modal-content-padding-y: theme('padding.0');
  --v-modal-content-text-align: center;

  /* panel */
  --v-modal-panel-padding-x: theme('padding.6');
  --v-modal-panel-padding-y: theme('padding.6');
  --v-modal-margin-padding-x: theme('margin.8');
  --v-modal-margin-padding-y: theme('margin.8');
  --v-modal-content-text-align: center;

  /* title */
  --v-modal-title-font-size: theme('fontSize.lg');
  --v-modal-title-font-weight: theme('fontWeight.medium');
  --v-modal-title-line-height: theme('lineHeight.6');
  --v-modal-title-letter-spacing: theme('letterSpacing.tight');
  --v-modal-title-color: theme('colors.gray.900');

  /* body */
  --v-modal-body-margin-top: theme('margin.4');
  --v-modal-body-text-align: left;

  /* footer */
  --v-modal-footer-margin-top: theme('margin.6');
  --v-modal-footer-justify-content: flex-end;
  --v-modal-footer-gap: theme('gap.2');
}

.v-modal-dialog {
  z-index: var(--v-modal-z-index);

  @apply fixed inset-0 overflow-y-auto;
}

.v-modal-content {
  padding: var(--v-modal-content-padding-y) var(--v-modal-content-padding-x);
  text-align: var(--v-modal-content-text-align);

  @apply min-h-screen;
}

.v-modal-overlay {
  @apply fixed inset-0 bg-black/50;
}

.v-modal-panel {
  background: var(--v-modal-bg-color);
  color: var(--v-modal-text-color);
  border-radius: var(--v-modal-border-radius);
  box-shadow: var(--v-modal-shadow);
  max-width: var(--v-modal-max-width);
  width: var(--v-modal-width);
  padding: var(--v-modal-panel-padding-y) var(--v-modal-panel-padding-x);
  margin: var(--v-modal-panel-margin-y) var(--v-modal-panel-margin-x);
  text-align: var(--v-modal-panel-text-align);
  overflow: hidden;
  vertical-align: middle;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  display: inline-block;

  @apply transform;
}

.v-modal-spacer {
  @apply inline-block h-screen align-middle;
}

.v-modal-header {
  @apply flex justify-between gap-4 items-center;
}

.v-modal-title {
  font-size: var(--v-modal-title-font-size);
  font-weight: var(--v-modal-title-font-weight);
  line-height: var(--v-modal-title-line-height);
  letter-spacing: var(--v-modal-title-letter-spacing);
  color: var(--v-modal-title-color);
}

.v-modal-body {
  margin-top: var(--v-modal-body-margin-top);
  text-align: var(--v-modal-body-text-align);
  
  @apply flex-1;
}

.v-modal-footer {
  margin-top: var(--v-modal-footer-margin-top);
  justify-content: var(--v-modal-footer-justify-content);
  gap: var(--v-modal-footer-gap);
  display: flex;
}

/* fullscreen */
.v-modal--fullscreen {
  --v-modal-width: 100%;
  --v-modal-max-width: 100%;
}

.v-modal.v-modal--fullscreen .v-modal-panel {
  @apply h-screen flex flex-col max-w-full m-0 rounded-none;
}

.v-modal.v-modal--fullscreen .v-modal-content {
  @apply px-0;
}

/* centered */
.v-modal.v-modal--centered .v-modal-panel {
  @apply text-center justify-center;
}

.v-modal.v-modal--centered .v-modal-body {
  @apply text-center;
}

.v-modal.v-modal--centered .v-modal-footer {
  @apply justify-center;
}