.dark {
  .v-radio {
    --v-radio-bg-color: theme('colors.neutral.700');
    --v-radio-border-color: theme('colors.gray.700');

    // label
    --v-radio-label-color: theme('colors.gray.200');
  }
}
