:root {
  --v-radio-bg-color: theme('colors.white');
  --v-radio-border-color: theme('colors.gray.800');
  --v-radio-border-style: solid;
  --v-radio-border-width: 1px;

  // disabled
  --v-radio-disabled-border-color: var(--v-input-disabled-border-color);
  --v-radio-disabled-bg-color: var(--v-input-disabled-bg-color);

  // label
  --v-radio-label-color: theme('colors.gray.800');

  // hint
  --v-radio-hint-font-size: var(--v-input-hint-font-size, 14px);
  --v-radio-hint-color: theme('colors.gray.500');
  --v-radio-hint-margin-top: theme('spacing.1');
}

.v-radio {
  &-wrapper {
    @apply flex w-full items-center gap-2 select-none;
  }

  &-label {
    color: var(--v-radio-label-color);
  }

  &-hint {
    font-size: var(--v-radio-hint-font-size);
    color: var(--v-radio-hint-color);
    margin-top: var(--v-radio-hint-margin-top);
  }

  &-input {
    background-color: var(--v-radio-bg-color);
    border-width: var(--v-radio-border-width);
    border-color: var(--v-radio-border-color);
    border-style: var(--v-radio-border-style);

    @apply transition duration-300;

    &:disabled {
      @apply cursor-not-allowed;
      --v-radio-bg-color: var(--v-radio-disabled-border-color);
      --v-radio-border-color: var(--v-radio-disabled-bg-color);
    }
  }

  &-error {
    @apply text-error-500 text-sm;

    &-input {
      @apply border-error-500 focus:border-error-500 focus:ring-error-500;
    }
  }
}
