:root {
  /* input control / button */
  --v-select-border-color: var(--v-input-border-color);
  --v-select-border-radius: var(--v-input-border-radius);
  --v-select-bg-color: var(--v-input-bg-color);
  --v-select-height: var(--v-input-height);
  --v-select-placeholder-color: var(--v-input-placeholder-color);
  --v-select-border-radius: var(--v-input-border-radius);
  --v-select-padding-x: var(--v-input-padding-x);
  --v-select-padding-y: var(--v-input-padding-y);
  --v-select-font-size: var(--v-input-font-size);

  /* label */
  --v-select-label-color: var(--v-input-label-color);
  --v-select-label-font-size: var(--v-input-label-font-size);
  --v-select-label-font-weight: var(--v-input-label-font-weight);
  --v-select-label-display: var(--v-input-label-display);
  --v-select-label-margin-bottom: var(--v-input-label-margin-bottom);

  /* text */
  --v-select-text-color: var(--v-input-text-color);
  --v-select-text-font-size: var(--v-input-text-font-size);
  --v-select-text-font-weight: var(--v-input-text-font-weight);

  /* icon */
  --v-select-icon-width: theme('width.5');
  --v-select-icon-height: theme('width.5');
  --v-select-icon-color: var(--v-input-icon-color);

  // options
  --v-select-options-bg-color: theme('colors.white');

  /* option item */
  --v-select-option-padding-x: theme('spacing.4');
  --v-select-option-padding-y: theme('spacing.2');
  --v-select-option-bg-color: theme('colors.white');
  --v-select-option-text-color: theme('colors.gray.800');

  /* option item on hover */
  --v-select-option-hover-bg-color: theme('colors.primary.500');
  --v-select-option-hover-text-color: theme('colors.white');

  // selected
  --v-select-selected-color: var(--v-input-label-color);
}

.v-select {
  &-button {
    border: 1px solid var(--v-select-border-color);
    border-radius: var(--v-select-border-radius);
    background-color: var(--v-select-bg-color);
    padding: var(--v-select-padding-y) var(--v-select-padding-x);
    height: var(--v-select-height);
    font-size: var(--v-select-font-size);
    font-weight: var(--v-select-font-weight);

    @apply relative
      w-full
      text-left
      cursor-default
      focus:outline-none
      focus:ring-1
      focus:ring-primary-500
      focus:border-primary-500
      flex
      items-center
      gap-1;
  }

  &--error &-button {
    @apply border-error-500;
  }

  &-selected {
    color: var(--v-select-selected-color);

    @apply block flex-grow w-full truncate mr-2;

    &--placeholder {
      color: var(--v-select-placeholder-color);
    }
  }

  &-options {
    background-color: var(--v-select-options-bg-color);

    @apply absolute
      w-full
      py-1
      mt-1
      overflow-auto
      text-base
      rounded-md
      shadow-lg
      max-h-60
      ring-1 ring-black ring-opacity-5
      focus:outline-none
      sm:text-sm
      z-10;
  }

  &-clearable {
    &-button {
      @apply w-auto cursor-pointer flex items-center;
    }

    &-icon {
      width: var(--v-select-icon-width);
      height: var(--v-select-icon-height);
      color: var(--v-select-icon-color);

      &:hover {
        color: var(--v-select-icon-hover-color);
      }
    }
  }

  &-icon {
    width: var(--v-select-icon-width);
    height: var(--v-select-icon-height);
    color: var(--v-select-icon-color);

    @apply text-gray-400;
  }

  &-option {
    padding: var(--v-select-option-padding-y) var(--v-select-option-padding-x);
    font-size: var(--v-select-font-size);
    font-weight: var(--v-select-font-weight);
    background: var(--v-select-option-bg-color);
    color: var(--v-select-option-text-color);

    @apply cursor-default select-none relative flex gap-2 items-center;

    &:hover,
    &--active {
      --v-select-option-bg-color: var(--v-select-option-hover-bg-color);
      --v-select-option-text-color: var(--v-select-option-hover-text-color);
    }

    &-text {
      @apply block truncate;
    }

    &-check {
      @apply w-6 h-6 shrink-0;

      &-icon {
        @apply w-5 h-5;
      }
    }
  }

  &-searchable {
    @apply px-3 border-b py-2;
  }

  &-error {
    @apply text-error-500 mt-1 text-sm;
  }

  &-label {
    color: var(--v-select-label-color);
    font-size: var(--v-select-label-font-size);
    font-weight: var(--v-select-label-font-weight);
    display: var(--v-select-label-display);
    margin-bottom: var(--v-select-label-margin-bottom);
  }

  &-panel {
    @apply relative;
  }

  /* sizes */
  // sm
  &--sm {
    --v-select-height: 2rem;
    --v-select-padding-x: theme('padding.2');
    --v-select-padding-y: theme('padding.1');
    --v-select-font-size: theme('fontSize.sm');
    --v-select-label-font-size: theme('fontSize.xs');
  }

  &--sm &-button {
    --v-select-font-size: theme('fontSize.sm');
  }

  &--sm &-icon {
    --v-select-icon-width: theme('width.4');
    --v-select-icon-height: theme('height.4');
  }

  &--sm &-option {
    --v-select-option-padding-x: theme('padding.2');
    --v-select-option-padding-y: theme('padding.1');
  }

  // lg
  &--lg {
    --v-select-height: 50px;
    --v-select-padding-x: theme('padding.5');
    --v-select-padding-y: theme('padding.3');
    --v-select-font-size: theme('fontSize.lg');
    --v-select-label-font-size: theme('fontSize.base');
  }

  &--lg &-button {
    --v-select-font-size: theme('fontSize.lg');
  }

  &--lg &-icon {
    --v-select-icon-width: theme('width.7');
    --v-select-icon-height: theme('height.7');
  }

  &--lg &-option {
    --v-select-option-padding-x: theme('padding.5');
    --v-select-option-padding-y: theme('padding.3');
  }
}
