:root {
  --alert-bg-color: var(--color-white);
  --alert-text-color: var(--color-gray-700);
  --alert-border-color: var(--color-gray-300);
  --alert-border-radius: var(--border-radius-lg);
  --alert-border-width: 1px;
  --alert-padding-x: var(--size-spacing-4);
  --alert-padding-y: var(--size-spacing-3);
  --alert-gap: 0.75rem;
  --alert-font-size: var(--size-font-sm);
  --alert-line-height: 20px;
  --alert-icon-size: 20px;

  // title
  --alert-title-font-size: var(--size-font-sm);
  --alert-title-font-weight: var(--font-weight-semibold);
  --alert-title-line-height: 20px;
}

// Block
.alert {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: var(--alert-gap);
  background-color: var(--alert-bg-color);
  color: var(--alert-text-color);
  border-color: var(--alert-border-color);
  border-radius: var(--alert-border-radius);
  border-width: var(--alert-border-width);
  padding: var(--alert-padding-y) var(--alert-padding-x);
  font-size: var(--alert-font-size);
  line-height: var(--alert-line-height);

  &--tile {
    --alert-border-radius: 0;
  }

  // Element
  &-content {
    flex: 1;
  }

  &-dismissable {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &-icon {
    width: var(--alert-icon-size) !important;
    height: var(--alert-icon-size) !important;
    color: currentColor !important;
  }

  &-x-icon {
    width: var(--alert-icon-size) !important;
    height: var(--alert-icon-size) !important;
    color: currentColor !important;
  }

  // Colors
  &-primary {
    --alert-bg-color: var(--color-primary-25);
    --alert-text-color: var(--color-primary-700);
    --alert-border-color: var(--color-primary-300);
  }

  &-secondary {
    --alert-bg-color: var(--color-secondary-25);
    --alert-text-color: var(--color-secondary-700);
    --alert-border-color: var(--color-secondary-300);
  }

  &-info {
    --alert-bg-color: var(--color-info-25);
    --alert-text-color: var(--color-info-700);
    --alert-border-color: var(--color-info-300);
  }

  &-warning {
    --alert-bg-color: var(--color-warning-25);
    --alert-text-color: var(--color-warning-700);
    --alert-border-color: var(--color-warning-300);
  }

  &-success {
    --alert-bg-color: var(--color-success-25);
    --alert-text-color: var(--color-success-700);
    --alert-border-color: var(--color-success-300);
  }

  &-error {
    --alert-bg-color: var(--color-error-25);
    --alert-text-color: var(--color-error-700);
    --alert-border-color: var(--color-error-300);
  }

  &-dark {
    --alert-bg-color: var(--color-gray-25);
    --alert-text-color: var(--color-gray-700);
    --alert-border-color: var(--color-gray-300);
  }

  // Modifier
  // ---

  // solid
  &--solid {
    --alert-text-color: var(--color-white);
    --alert-bg-color: var(--color-gray-500);

    // colors
    &.alert-default {
      --alert-bg-color: var(--color-white);
      --alert-border-color: var(--color-gray-300);
      --alert-text-color: var(--color-gray-700);
    }

    &.alert-primary {
      --alert-bg-color: var(--color-primary-500);
      --alert-border-color: var(--color-primary-500);
    }

    &.alert-secondary {
      --alert-bg-color: var(--color-secondary-500);
      --alert-border-color: var(--color-secondary-500);
    }

    &.alert-info {
      --alert-bg-color: var(--color-info-500);
      --alert-border-color: var(--color-info-500);
    }

    &.alert-warning {
      --alert-bg-color: var(--color-warning-500);
      --alert-border-color: var(--color-warning-500);
    }

    &.alert-success {
      --alert-bg-color: var(--color-success-500);
      --alert-border-color: var(--color-success-500);
    }

    &.alert-error {
      --alert-bg-color: var(--color-error-500);
      --alert-border-color: var(--color-error-500);
    }

    &.alert-dark {
      --alert-bg-color: var(--color-gray-800);
      --alert-border-color: var(--color-gray-800);
    }
  }

  // outlined
  &--outlined {
    --alert-bg-color: var(--color-transparent);
    --alert-border-width: 2px;

    // colors
    &.alert-default {
      --alert-text-color: var(--color-gray-700);
    }

    &.alert-primary {
      --alert-text-color: var(--color-primary-700);
      --alert-border-color: var(--color-primary-500);
    }

    &.alert-secondary {
      --alert-text-color: var(--color-secondary-700);
    }

    &.alert-info {
      --alert-text-color: var(--color-info-700);
    }

    &.alert-warning {
      --alert-text-color: var(--color-warning-700);
    }

    &.alert-success {
      --alert-text-color: var(--color-success-700);
    }

    &.alert-error {
      --alert-text-color: var(--color-error-700);
    }

    &.alert-dark {
      --alert-text-color: var(--color-gray-700);
      --alert-border-color: var(--color-gray-500);
    }
  }

  // alert group
  &-group-transition-move, /* apply transition to moving elements */
  &-group-transition-enter-active,
  &-group-transition-leave-active {
    transition: all 0.5s ease;
  }

  &-group-transition-enter-from,
  &-group-transition-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }

  /* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
  &-group-transition-leave-active {
    position: absolute;
  }

  // title
  &-title {
    font-size: var(--alert-title-font-size, 14px);
    line-height: var(--alert-title-line-height, 20px);
    font-weight: var(--alert-title-font-weight, 600);
    margin-bottom: var(--alert-title-margin-bottom, 4px);
  }

  // bordered
  &--bordered {
    border-width: 1px;
    border-style: solid;
    border-color: var(--alert-border-color);
    --alert-border-width: 4px;

    &-top {
      border-top-width: var(--alert-border-width);
    }

    &-right {
      border-right-width: var(--alert-border-width);
    }

    &-bottom {
      border-bottom-width: var(--alert-border-width);
    }

    &-left {
      border-left-width: var(--alert-border-width);
    }

    // Colors
    &.alert-primary {
      --alert-border-color: var(--color-primary-500);
    }

    &.alert-secondary {
      --alert-border-color: var(--color-secondary-500);
    }

    &.alert-info {
      --alert-border-color: var(--color-info-500);
    }

    &.alert-warning {
      --alert-border-color: var(--color-warning-500);
    }

    &.alert-success {
      --alert-border-color: var(--color-success-500);
    }

    &.alert-error {
      --alert-border-color: var(--color-error-500);
    }

    &.alert-dark {
      --alert-border-color: var(--color-gray-500);
    }
  }
}
