.dark {
  .app-bar {
    &-default {
      --app-bar-bg-color: var(--color-base-gray-neutral-800);
      --app-bar-color: var(--color-base-gray-neutral-200);
      --app-bar-border-color: var(--color-base-gray-neutral-700);
    }
  }
}
