.dark {
  .autocomplete {
    // field
    --v-autocomplete-field-bg-color: var(--color-base-gray-true-800);
    --v-autocomplete-field-border-color: var(--borderColo-base-gray-true-700);

    // field hover
    --v-autocomplete-field-hover-border-color: var(--borderColo-base-gray-true-800);

    // input
    --v-autocomplete-input-color: var(--color-base-gray-true-600);

    // input selected
    --v-autocomplete-input-selected-color: var(--color-base-gray-true-200);

    // clearable button
    --v-autocomplete-clearable-button-color: var(--color-base-gray-true-400);

    // clearable button hover
    --v-autocomplete-clearable-button-hover-color: var(--color-base-gray-true-500);
    --v-autocomplete-clearable-button-hover-bg-color: var(--color-base-gray-true-50);

    // icon
    --v-autocomplete-icon-color: var(--color-base-gray-true-400);

    // options
    --v-autocomplete-options-bg-color: var(--color-base-gray-true-800);

    // empty
    --v-autocomplete-empty-color: var(--color-base-gray-true-700);

    // item
    --v-autocomplete-item-color: var(--color-base-gray-true-200);

    // item selected
    --v-autocomplete-item-selected-color: var(--color-brand-primary-500);

    // item selected item
    --v-autocomplete-item-selected-icon-color: var(--color-brand-primary-500);

    // item inactive
    --v-autocomplete-item-inactive-color: var(--color-base-gray-true-200);

    // item active
    --v-autocomplete-item-active-bg-color: var(--color-base-gray-true-700);

    // hint
    --v-autocomplete-hint-color: var(--color-base-gray-true-500);
  }
}
