

.dark {
  .badge {
    &-default,
    &-secondary {
      &.badge--outlined {
        --badge-border-color: var(--color-base-gray-400);
        --badge-color: var(--color-base-gray-400);
      }
    }
    &-dark {
      &.badge--outlined {
        --badge-border-color: var(--color-base-gray-true-400);
        --badge-color: var(--color-base-gray-true-400);
      }
    }
  }
}
