:root {
  --badge-bg-color: var(--color-gray-100);
  --badge-color: var(--color-gray-700);
  --badge-border-style: solid;
  --badge-border-width: 1px;
  --badge-border-color: transparent;
  --badge-border-radius: 16px;
  --badge-padding-x: 10px;
  --badge-padding-y: 2px;
  --badge-font-size: var(--size-font-sm);
  --badge-line-height: 20px;
  --badge-font-weight: var(--font-weight-medium);
  --badge-icon-size: 16px;
  --badge-gap: 6px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: var(--badge-gap);
  background-color: var(--badge-bg-color);
  color: var(--badge-color);
  border-radius: var(--badge-border-radius);
  border-width: var(--badge-border-width);
  border-style: var(--badge-border-style);
  border-color: var(--badge-border-color);
  padding: var(--badge-padding-y) var(--badge-padding-x);
  font-size: var(--badge-font-size);
  font-weight: var(--badge-font-weight);
  flex-shrink: 0;
  line-height: var(--badge-line-height);

  // elements
  &-dismiss-button {
    background-color: transparent;
    padding: 0;
  }
  &-icon {
    width: var(--badge-icon-size) !important;
    height: var(--badge-icon-size) !important;
  }

  // modifiers
  &--outlined {
    border-style: var(--badge-border-style);
    border-width: var(--badge-border-width);
    border-color: var(--badge-border-color);
    background-color: transparent;
  }

  &--sm {
    --badge-font-size: var(--size-font-xs);
    --badge-padding-x: 8px;
    --badge-padding-y: 2px;
    --badge-line-height: 18px;
  }

  &--lg {
    --badge-padding-x: 12px;
    --badge-padding-y: 4px;
    --badge-line-height: 20px;
  }

  /* Rounded */
  &--rounded {
    --badge-border-radius: var(--border-radius-default);
    &-sm {
      --badge-border-radius: var(--border-radius-sm);
    }
    &-md {
      --badge-border-radius: var(--border-radius-md);
    }
    &-lg {
      --badge-border-radius: var(--border-radius-lg);
    }
    &-xl {
      --badge-border-radius: var(--border-radius-xl);
    }
    &-2xl {
      --badge-border-radius: var(--border-radius-2xl);
    }
    &-3xl {
      --badge-border-radius: var(--border-radius-3xl);
    }
    &-none {
      --badge-border-radius: var(--border-radius-none);
    }
    &-full {
      --badge-border-radius: var(--border-radius-full);
    }
  }

  /* Colors */
  &-primary {
    --badge-bg-color: var(--color-primary-50);
    --badge-border-color: var(--color-primary-50);
    --badge-color: var(--color-primary-700);

    &.badge--outlined {
      --badge-border-color: var(--color-primary-700);
      --badge-color: var(--color-primary-700);
    }
  }
  &-default,
  &-secondary {
    &.badge--outlined {
      --badge-border-color: var(--color-secondary-700);
      --badge-color: var(--color-secondary-700);
    }
  }
  &-info {
    --badge-bg-color: var(--color-info-50);
    --badge-border-color: var(--color-info-50);
    --badge-color: var(--color-info-700);

    &.badge--outlined {
      --badge-border-color: var(--color-info-700);
      --badge-color: var(--color-info-700);
    }
  }
  &-warning {
    --badge-bg-color: var(--color-warning-50);
    --badge-border-color: var(--color-warning-50);
    --badge-color: var(--color-warning-700);

    &.badge--outlined {
      --badge-border-color: var(--color-warning-700);
      --badge-color: var(--color-warning-700);
    }
  }
  &-success {
    --badge-bg-color: var(--color-success-50);
    --badge-border-color: var(--color-success-50);
    --badge-color: var(--color-success-700);

    &.badge--outlined {
      --badge-border-color: var(--color-success-700);
      --badge-color: var(--color-success-700);
    }
  }
  &-error {
    --badge-bg-color: var(--color-error-50);
    --badge-border-color: var(--color-error-50);
    --badge-color: var(--color-error-700);

    &.badge--outlined {
      --badge-border-color: var(--color-error-700);
      --badge-color: var(--color-error-700);
    }
  }
  &-purple {
    --badge-bg-color: var(--color-purple-50);
    --badge-border-color: var(--color-purple-50);
    --badge-color: var(--color-purple-700);

    &.badge--outlined {
      --badge-border-color: var(--color-purple-700);
      --badge-color: var(--color-purple-700);
    }
  }
  &-dark {
    --badge-bg-color: var(--color-gray-true-800);
    --badge-border-color: var(--color-gray-true-800);
    --badge-color: var(--color-gray-true-200);

    &.badge--outlined {
      --badge-border-color: var(--color-gray-true-800);
      --badge-color: var(--color-gray-true-800);
    }
  }
  &-indigo {
    --badge-bg-color: var(--color-indigo-50);
    --badge-border-color: var(--color-indigo-50);
    --badge-color: var(--color-indigo-700);

    &.badge--outlined {
      --badge-border-color: var(--color-indigo-700);
      --badge-color: var(--color-indigo-700);
    }
  }
  &-blue {
    --badge-bg-color: var(--color-blue-50);
    --badge-border-color: var(--color-blue-50);
    --badge-color: var(--color-blue-700);

    &.badge--outlined {
      --badge-border-color: var(--color-blue-700);
      --badge-color: var(--color-blue-700);
    }
  }
  &-blue-light {
    --badge-bg-color: var(--color-info-50);
    --badge-border-color: var(--color-info-50);
    --badge-color: var(--color-info-700);

    &.badge--outlined {
      --badge-border-color: var(--color-info-700);
      --badge-color: var(--color-info-700);
    }
  }
  &-pink {
    --badge-bg-color: var(--color-pink-50);
    --badge-border-color: var(--color-pink-50);
    --badge-color: var(--color-pink-700);

    &.badge--outlined {
      --badge-border-color: var(--color-pink-700);
      --badge-color: var(--color-pink-700);
    }
  }
  &-rose {
    --badge-bg-color: var(--color-rose-50);
    --badge-border-color: var(--color-rose-50);
    --badge-color: var(--color-rose-700);

    &.badge--outlined {
      --badge-border-color: var(--color-rose-700);
      --badge-color: var(--color-rose-700);
    }
  }
  &-orange {
    --badge-bg-color: var(--color-orange-50);
    --badge-border-color: var(--color-orange-50);
    --badge-color: var(--color-orange-700);

    &.badge--outlined {
      --badge-border-color: var(--color-orange-700);
      --badge-color: var(--color-orange-700);
    }
  }
  &-blue-gray {
    --badge-bg-color: var(--color-gray-blue-50);
    --badge-border-color: var(--color-gray-blue-50);
    --badge-color: var(--color-gray-blue-700);

    &.badge--outlined {
      --badge-border-color: var(--color-gray-blue-700);
      --badge-color: var(--color-gray-blue-700);
    }
  }
}
