.v-banner {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--fixed {
    position: fixed;
    z-index: 50;
  }

  &--sticky {
    position: sticky;
    z-index: 50;
  }

  &--absolute {
    position: absolute;
    z-index: 50;
  }

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  // text
  &-text {
    text-align: center;
    flex: 1 1 0%;
  }

  // colors
  &-white {
    background-color: white;
  }

  &-light {
    background-color: var(--color-gray-100);
  }

  &-dark {
    background-color: var(--color-gray-800);
    color: var(--color-gray-true-200);
  }

  &-primary {
    background-color: var(--color-primary-500);
    color: var(--color-white);
  }

  &-secondary {
    background-color: var(--color-secondary-500);
    color: var(--color-white);
  }

  &-info {
    background-color: var(--color-info-500);
    color: var(--color-white);
  }

  &-warning {
    background-color: var(--color-warning-500);
    color: var(--color-white);
  }

  &-success {
    background-color: var(--color-success-500);
    color: var(--color-white);
  }

  &-error {
    background-color: var(--color-error-500);
    color: var(--color-white);
  }

  // transition
  &-transition-enter-active,
  &-transition-leave-active {
    transition: opacity 0.5s ease;
  }

  &-transition-enter-from,
  &-transition-leave-to {
    opacity: 0;
  }
}
