:root {
  --breadcrumbs-gap: var(--size-spacing-3);
  --breadcrumbs-margin-bottom: var(--size-spacing-3);
  --breadcrumbs-font-weight: var(--font-weight-normal);
  --breadcrumbs-font-size: var(--size-font-sm);

  // item
  --breadcrumbs-item-color: var(--color-base-gray-800);

  // item hover
  --breadcrumbs-item-hover-color: var(--color-brand-primary-500);

  // item active
  --breadcrumbs-item-active-color: var(--color-brand-primary-500);

  // item disabled
  --breadcrumbs-item-disabled-color: var(--color-base-gray-500);

  // divider
  --breadcrumbs-divider-font-size: var(--size-font-xs);
  --breadcrumbs-divider-font-weight: var(--font-weight-medium);
  --breadcrumbs-divider-color: var(--color-base-gray-500);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: var(--breadcrumbs-gap);
  margin-bottom: var(--breadcrumbs-margin-bottom);

  // elements
  &-item {
    color: var(--breadcrumbs-item-color);
    font-weight: var(--breadcrumbs-font-weight);
    font-size: var(--breadcrumbs-font-size);
    
    @apply transition duration-300;

    &:hover:not(&--disabled) {
      --breadcrumbs-item-color: var(--breadcrumbs-item-hover-color);
    }

    &--active {
      --breadcrumbs-item-color: var(--breadcrumbs-item-active-color);
    }

    &--disabled {
      --breadcrumbs-item-color: var(--breadcrumbs-item-disabled-color);
    }
  }

  &-divider {
    font-size: var(--breadcrumbs-divider-font-size);
    font-weight: var(--breadcrumbs-divider-font-weight);
    color: var(--breadcrumbs-divider-color);

    &-icon {
      color: var(--breadcrumbs-divider-color);
    }
  }
}
