:root {
  --btn-border-radius: var(--border-radius-lg);
  --btn-group-border-radius: var(--btn-border-radius);
  --btn-border-width: 1px;
  --btn-padding-x: 14px;
  --btn-padding-y: 0;
  --btn-font-size: var(--size-font-sm);
  --btn-line-height: 20px;
  --btn-font-weight: 600;
  --btn-shadow: none;
  --btn-icon-width: 20px;
  --btn-icon-height: 20px;
  --btn-line-height: 20px;
  --btn-transition: all 0.3s ease-in-out;

  // sm
  --btn-sm-height: 32px;

  // md
  --btn-md-height: 44px;

  // lg
  --btn-lg-height: 52px;

  // xl
  --btn-xl-height: 60px;

  // 2xl
  --btn-2xl-height: 68px;
}

.btn {
  $c: &;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  font-size: var(--btn-font-size);
  border-radius: var(--btn-border-radius);
  border-width: var(--btn-border-width);
  border-color: var(--btn-border-color);
  transition: var(--btn-transition);

  // disabled
  &:disabled,
  &:disabled:hover {
    cursor: not-allowed;
    --btn-bg-color: var(--color-gray-200);
    --btn-border-color: var(--color-gray-200);
    --btn-text-color: var(--color-gray-400);

    &.btn--text {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-text-color: var(--color-gray-400);
    }

    &.btn--outlined {
      --btn-bg-color: transparent;
      --btn-border-color: var(--color-gray-200);
      --btn-text-color: var(--color-gray-400);
    }
  }

  // hierarchy
  &-primary {
    --btn-bg-color: var(--color-primary-600);
    --btn-border-color: var(--color-primary-600);
    --btn-text-color: var(--color-white);

    &:hover {
      --btn-bg-color: var(--color-primary-700);
      --btn-border-color: var(--color-primary-700);
    }

    // outlined
    &.btn--outlined {
      --btn-bg-color: transparent;
      --btn-border-color: var(--color-primary-600);
      --btn-text-color: var(--color-primary-600);

      &:hover {
        --btn-bg-color: var(--color-primary-600);
        --btn-border-color: var(--color-primary-600);
        --btn-text-color: var(--color-white);
      }
    }

    // text
    &.btn--text {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-text-color: var(--color-primary-600);

      &:hover {
        --btn-text-color: var(--color-primary-700);
      }
    }
  }

  &-secondary {
    --btn-bg-color: var(--color-secondary-600);
    --btn-border-color: var(--color-secondary-600);
    --btn-text-color: var(--color-white);

    &:hover {
      --btn-bg-color: var(--color-secondary-700);
      --btn-border-color: var(--color-secondary-700);
    }

    // outlined
    &.btn--outlined {
      --btn-bg-color: transparent;
      --btn-border-color: var(--color-secondary-600);
      --btn-text-color: var(--color-secondary-600);

      &:hover {
        --btn-bg-color: var(--color-secondary-600);
        --btn-border-color: var(--color-secondary-600);
        --btn-text-color: var(--color-white);
      }
    }

    // text
    &.btn--text {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-text-color: var(--color-secondary-600);

      &:hover {
        --btn-text-color: var(--color-secondary-700);
      }
    }
  }

  &-default {
    --btn-bg-color: var(--color-white);
    --btn-border-color: var(--color-gray-300);
    --btn-text-color: var(--color-gray-800);

    &:hover {
      --btn-bg-color: var(--color-gray-50);
    }

    // outlined
    &.btn--outlined {
      --btn-bg-color: transparent;
      --btn-border-color: var(--color-gray-300);
      --btn-text-color: var(--color-gray-800);

      &:hover {
        --btn-bg-color: var(--color-gray-600);
        --btn-border-color: var(--color-gray-600);
        --btn-text-color: var(--color-white);
      }
    }

    // text
    &.btn--text {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-text-color: var(--color-gray-800);

      &:hover {
        --btn-text-color: var(--color-gray-900);
      }
    }
  }

  &-info {
    --btn-bg-color: var(--color-info-600);
    --btn-border-color: var(--color-info-600);
    --btn-text-color: var(--color-white);

    &:hover {
      --btn-bg-color: var(--color-info-700);
      --btn-border-color: var(--color-info-700);
    }

    // outlined
    &.btn--outlined {
      --btn-bg-color: transparent;
      --btn-border-color: var(--color-info-600);
      --btn-text-color: var(--color-info-600);

      &:hover {
        --btn-bg-color: var(--color-info-600);
        --btn-border-color: var(--color-info-600);
        --btn-text-color: var(--color-white);
      }
    }

    // text
    &.btn--text {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-text-color: var(--color-info-600);

      &:hover {
        --btn-text-color: var(--color-info-700);
      }
    }
  }

  &-warning {
    --btn-bg-color: var(--color-warning-600);
    --btn-border-color: var(--color-warning-600);
    --btn-text-color: var(--color-white);

    &:hover {
      --btn-bg-color: var(--color-warning-700);
      --btn-border-color: var(--color-warning-700);
    }

    // outlined
    &.btn--outlined {
      --btn-bg-color: transparent;
      --btn-border-color: var(--color-warning-600);
      --btn-text-color: var(--color-warning-600);

      &:hover {
        --btn-bg-color: var(--color-warning-600);
        --btn-border-color: var(--color-warning-600);
        --btn-text-color: var(--color-white);
      }
    }

    // text
    &.btn--text {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-text-color: var(--color-warning-600);

      &:hover {
        --btn-text-color: var(--color-warning-700);
      }
    }
  }

  &-success {
    --btn-bg-color: var(--color-success-600);
    --btn-border-color: var(--color-success-600);
    --btn-text-color: var(--color-white);

    &:hover {
      --btn-bg-color: var(--color-success-700);
      --btn-border-color: var(--color-success-700);
    }

    // outlined
    &.btn--outlined {
      --btn-bg-color: transparent;
      --btn-border-color: var(--color-success-600);
      --btn-text-color: var(--color-success-600);

      &:hover {
        --btn-bg-color: var(--color-success-600);
        --btn-border-color: var(--color-success-600);
        --btn-text-color: var(--color-white);
      }
    }

    // text
    &.btn--text {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-text-color: var(--color-success-600);

      &:hover {
        --btn-text-color: var(--color-success-700);
      }
    }
  }

  &-error {
    --btn-bg-color: var(--color-error-600);
    --btn-border-color: var(--color-error-600);
    --btn-text-color: var(--color-white);

    &:hover {
      --btn-bg-color: var(--color-error-700);
      --btn-border-color: var(--color-error-700);
    }

    // outlined
    &.btn--outlined {
      --btn-bg-color: transparent;
      --btn-border-color: var(--color-error-600);
      --btn-text-color: var(--color-error-600);

      &:hover {
        --btn-bg-color: var(--color-error-600);
        --btn-border-color: var(--color-error-600);
        --btn-text-color: var(--color-white);
      }
    }

    // text
    &.btn--text {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-text-color: var(--color-error-600);

      &:hover {
        --btn-text-color: var(--color-error-700);
      }
    }
  }

  &-dark {
    --btn-bg-color: var(--color-gray-800);
    --btn-border-color: var(--color-gray-800);
    --btn-text-color: var(--color-white);

    &:hover {
      --btn-bg-color: var(--color-gray-900);
      --btn-border-color: var(--color-gray-900);
    }

    // outlined
    &.btn--outlined {
      --btn-bg-color: transparent;
      --btn-border-color: var(--color-gray-800);
      --btn-text-color: var(--color-gray-800);

      &:hover {
        --btn-bg-color: var(--color-gray-800);
        --btn-border-color: var(--color-gray-800);
        --btn-text-color: var(--color-white);
      }
    }

    // text
    &.btn--text {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-text-color: var(--color-gray-800);

      &:hover {
        --btn-text-color: var(--color-gray-900);
      }
    }
  }

  &:not(.btn--flush) {
    padding: var(--btn-padding-y) var(--btn-padding-x);
    height: var(--btn-height);

    &:not(.btn--block) {
      width: var(--btn-width);
    }
  }

  // flush
  &--flush {
    padding: 0;
    --btn-height: auto;
  }

  // sizes
  &--sm {
    --btn-font-size: var(--size-font-sm);
    --btn-height: var(--btn-sm-height);
    &.btn--fab {
      --btn-width: var(--btn-sm-height);
      --btn-height: var(--btn-sm-height);
    }
  }
  &--md {
    --btn-height: var(--btn-md-height);
    &.btn--fab {
      --btn-width: var(--btn-md-height);
      --btn-height: var(--btn-md-height);
    }
  }
  &--lg {
    --btn-padding-x: 19.67px;
    --btn-height: var(--btn-lg-height);
    &.btn--fab {
      --btn-width: var(--btn-lg-height);
      --btn-height: var(--btn-lg-height);
    }
  }

  &--xl {
    --btn-padding-x: 21.67px;
    --btn-height: var(--btn-xl-height);
    &.btn--fab {
      --btn-width: var(--btn-xl-height);
      --btn-height: var(--btn-xl-height);
    }
  }

  &--2xl {
    --btn-padding-x: 30px;
    --btn-font-size: var(--size-font-lg);
    --btn-height: var(--btn-2xl-height);
    &.btn--fab {
      --btn-width: var(--btn-2xl-height);
      --btn-height: var(--btn-2xl-height);
    }
  }

  &--rounded {
    --btn-border-radius: var(--border-radius-full);
  }

  &--fab {
    --btn-border-radius: var(--border-radius-full);
    --btn-width: var(--btn-width);
    --btn-height: var(--btn-height);
    --btn-padding-x: var(--size-spacing-1);
    --btn-padding-y: var(--size-spacing-1);
  }

  &--tile {
    --btn-border-radius: var(--border-radius-none);
  }

  &--block {
    display: flex;
    width: 100%;
  }

  &--loading {
    pointer-events: progress;
  }

  &-icon {
    width: var(--btn-icon-width);
    height: var(--btn-icon-height);
  }
}

// button group
.v-btn-group {
  display: inline-flex;

  & > .btn {
    --btn-border-radius: none;
    margin-left: -1px;

    &:first-child {
      --btn-border-radius: var(--btn-group-border-radius) 0 0
        var(--btn-group-border-radius);
    }

    &:last-child {
      --btn-border-radius: 0 var(--btn-group-border-radius)
        var(--btn-group-border-radius) 0;
    }

    &:not(:first-child):not(:last-child) {
      --btn-border-radius: 0;
    }
  }
}

// button toolbar
.v-btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-2);
  align-items: flex-end;
}
