:root {
  --card-bg-color: var(--color-white);
  --card-color: var(--color-gray-700);
  --card-border-style: solid;
  --card-border-width: 1px;
  --card-border-color: var(--color-gray-200);
  --card-border-radius: var(--border-radius-lg);
  --card-padding-x: var(--size-spacing-4);
  --card-padding-y: var(--size-spacing-3);
  --card-box-shadow: var(--effect-shadow-sm);
  --card-font-size: var(--size-font-sm);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  color: var(--card-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  font-size: var(--card-font-size);

  // elements
  &-header {
    font-weight: var(--font-weight-semibold);
    display: flex;
    padding: var(--card-padding-y) var(--card-padding-x) 0 var(--card-padding-x);

    &:empty,
    &:has(div):empty {
      display: none;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    padding: var(--card-padding-y) var(--card-padding-x);
  }

  &-content {
    padding: var(--card-padding-y) var(--card-padding-x);
  }

  &-footer {
    display: flex;
    gap: var(--size-spacing-2);
    padding: 0 var(--card-padding-x) var(--card-padding-y) var(--card-padding-x);
    
    &:empty {
      display: none;
    }
  }

  // bordered
  &--bordered {
    border-width: 1px;
    border-style: solid;
    border-color: var(--card-border-color);
    --card-border-width: 4px;

    &-top {
      border-top-width: var(--card-border-width);
    }

    &-right {
      border-right-width: var(--card-border-width);
    }

    &-bottom {
      border-bottom-width: var(--card-border-width);
    }

    &-left {
      border-left-width: var(--card-border-width);
    }

    // Colors
    &.card-default {
      --card-border-color: var(--color-gray-300);
    }

    &.card-primary {
      --card-border-color: var(--color-primary-500);
    }

    &.card-secondary {
      --card-border-color: var(--color-secondary-500);
    }

    &.card-info {
      --card-border-color: var(--color-info-500);
    }

    &.card-warning {
      --card-border-color: var(--color-warning-500);
    }

    &.card-success {
      --card-border-color: var(--color-success-500);
    }

    &.card-error {
      --card-border-color: var(--color-error-500);
    }

    &.card-dark {
      --card-border-color: var(--color-gray-500);
    }
  }

  /* Shadows */
  &--shadow {
    --card-box-shadow: var(--effect-shadow-md);
  }

  &--shadow-sm {
    --card-box-shadow: var(--effect-shadow-sm);
  }

  &--shadow-md {
    --card-box-shadow: var(--effect-shadow-md);
  }

  &--shadow-lg {
    --card-box-shadow: var(--effect-shadow-lg);
  }

  &--shadow-xl {
    --card-box-shadow: var(--effect-shadow-xl);
  }

  &--shadow-2xl {
    --card-box-shadow: var(--effect-shadow-2xl);
  }

  &--shadow-inner {
    --card-box-shadow: var(--effect-shadow-inner);
  }

  &--shadow-none {
    --card-box-shadow: none;
  }

  /* Colors */
  &-primary:not(&--bordered) {
    --card-bg-color: var(--color-primary-500);
    --card-color: var(--color-white);
  }

  &-secondary:not(&--bordered) {
    --card-bg-color: var(--color-secondary-500);
    --card-color: var(--color-white);
  }

  &-info:not(&--bordered) {
    --card-bg-color: var(--color-info-500);
    --card-color: var(--color-white);
  }

  &-warning:not(&--bordered) {
    --card-bg-color: var(--color-warning-500);
    --card-color: var(--color-white);
  }

  &-success:not(&--bordered) {
    --card-bg-color: var(--color-success-500);
    --card-color: var(--color-white);
  }

  &-error:not(&--bordered) {
    --card-bg-color: var(--color-error-500);
    --card-color: var(--color-white);
  }

  &-dark:not(&--bordered) {
    --card-bg-color: var(--color-gray-800);
    --card-color: var(--color-white);
  }

  // image
  &-image {
    object-fit: cover;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
  }
}
