.dark {
  .v-checkbox {
    --v-checkbox-bg-color: var(--color-gray-true-700);
    --v-checkbox-border-color: var(--color-gray-true-700);
    --v-checkbox-label-color: var(--color-gray-true-200);

    // disabled
    --v-checkbox-disabled-bg-color: var(--color-gray-true-400);
    --v-checkbox-disabled-border-color: var(--color-gray-true-400);
  }
}
