:root {
  --v-checkbox-bg-color: var(--color-white);
  --v-checkbox-border-width: 1px;
  --v-checkbox-border-style: solid;
  --v-checkbox-border-color: var(--color-gray-300);
  --v-checkbox-border-radius: var(--border-radius-md);
  --v-checkbox-bg-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%230984DD' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;

  // checked
  --v-checkbox-checked-bg-color: var(--color-primary-50);
  --v-checkbox-checked-border-color: var(--color-primary-600);

  // disabled
  --v-checkbox-disabled-bg-color: var(--color-gray-100);
  --v-checkbox-disabled-border-color: var(--color-gray-200);

  /* label */
  --v-checkbox-label-font-size: var(
    --input-label-font-size,
    var(--size-font-sm)
  );
  --v-checkbox-label-font-weight: var(--font-weight-medium);
  --v-checkbox-label-display: var(--v-input-label-display, block);
  --v-checkbox-label-margin-top: 1px;
  --v-checkbox-label-color: var(--color-gray-700);

  // hint
  --v-checkbox-hint-font-size: var(--v-input-hint-font-size, 14px);
  --v-checkbox-hint-color: var(--v-input-hint-color, var(--color-gray-500));
  --v-checkbox-hint-margin-top: var(--v-input-hint-margin-top, 4px);
}

.v-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &-input {
    appearance: none;
    border-radius: var(--v-checkbox-border-radius);
    background-color: var(--v-checkbox-bg-color) !important;
    border: var(--v-checkbox-border-width) var(--v-checkbox-border-style)
      var(--v-checkbox-border-color) !important;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    &:focus {
      border: 1px solid var(--v-input-effect-border-color);
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
        0px 0px 0px 4px var(--v-input-effect-shadow-color);
    }

    &:checked {
      background-image: var(--v-checkbox-bg-image);
      background-size: 100% 100% !important;
      background-position: center !important;
      background-repeat: no-repeat !important;

      --v-checkbox-color: var(--v-checkbox-checked-color);
      --v-checkbox-border-color: var(--v-checkbox-checked-border-color);
      --v-checkbox-bg-color: var(--v-checkbox-checked-bg-color);
    }

    &:disabled {
      cursor: not-allowed;
      --v-checkbox-bg-color: var(--v-checkbox-disabled-bg-color);
      --v-checkbox-border-color: var(--v-checkbox-disabled-border-color);
    }
  }

  &-label {
    font-size: var(--v-checkbox-label-font-size);
    font-weight: var(--v-checkbox-label-font-weight);
    display: var(--v-checkbox-label-display);
    margin-top: var(--v-checkbox-label-margin-top);
    color: var(--v-checkbox-label-color);
    user-select: none;
  }

  &-hint {
    font-size: var(--v-checkbox-hint-font-size);
    color: var(--v-checkbox-hint-color);
    margin-top: var(--v-checkbox-hint-margin-top);
  }

  &-primary {
    --v-input-effect-border-color: var(--color-primary-300);
    --v-input-effect-shadow-color: var(--color-primary-100);
    --v-checkbox-checked-bg-color: var(--color-primary-50);
    --v-checkbox-checked-border-color: var(--color-primary-600);
  }

  &-secondary {
    --v-input-effect-border-color: var(--color-secondary-300);
    --v-input-effect-shadow-color: var(--color-secondary-100);
    --v-checkbox-checked-bg-color: var(--color-secondary-50);
    --v-checkbox-checked-border-color: var(--color-secondary-600);
    --v-checkbox-bg-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23475467' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
  }

  &-info {
    --v-input-effect-border-color: var(--color-info-300);
    --v-input-effect-shadow-color: var(--color-info-100);
    --v-checkbox-checked-bg-color: var(--color-info-50);
    --v-checkbox-checked-border-color: var(--color-info-600);
    --v-checkbox-bg-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%230086c9' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
  }

  &-success {
    --v-input-effect-border-color: var(--color-success-300);
    --v-input-effect-shadow-color: var(--color-success-100);
    --v-checkbox-checked-bg-color: var(--color-success-50);
    --v-checkbox-checked-border-color: var(--color-success-600);
    --v-checkbox-bg-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23039855' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
  }

  &-warning {
    --v-input-effect-border-color: var(--color-warning-300);
    --v-input-effect-shadow-color: var(--color-warning-100);
    --v-checkbox-checked-bg-color: var(--color-warning-50);
    --v-checkbox-checked-border-color: var(--color-warning-600);
    --v-checkbox-bg-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23dc6803' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
  }

  &-error {
    color: var(--color-error-500);
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    margin-top: 0.25rem /* 4px */;
  }

  &--error {
    --v-input-effect-border-color: var(--color-error-300);
    --v-input-effect-shadow-color: var(--color-error-100);
    --v-checkbox-checked-bg-color: var(--color-error-50);
    --v-checkbox-checked-border-color: var(--color-error-600);
    --v-checkbox-border-color: var(--color-error-500);
    --v-checkbox-bg-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23d92d20' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
  }
}
