@import '@morpheme/design-tokens/scss/_variables.scss';

:root {
  --v-checkbox-bg-color: #{$color-base-white};
  --v-checkbox-border-width: 1px;
  --v-checkbox-border-style: solid;
  --v-checkbox-border-color: #{$color-base-gray-300};
  --v-checkbox-border-radius: #{$border-radius-md};

  // disabled
  --v-checkbox-disabled-bg-color: #{$color-base-gray-100};
  --v-checkbox-disabled-border-color: #{$color-base-gray-200};

  /* label */
  --v-checkbox-label-font-size: var(
    --input-label-font-size,
    #{$size-font-sm}
  );
  --v-checkbox-label-font-weight: #{$font-weight-medium};
  --v-checkbox-label-display: var(--v-input-label-display, block);
  --v-checkbox-label-margin-top: 1px;
  --v-checkbox-label-color: #{$color-base-gray-700};

  // hint
  --v-checkbox-hint-font-size: var(--v-input-hint-font-size, 14px);
  --v-checkbox-hint-color: var(--v-input-hint-color, #{$color-base-gray-500});
  --v-checkbox-hint-margin-top: var(--v-input-hint-margin-top, 4px);
}

.v-checkbox {
  @apply flex items-center gap-2;

  &-input {
    border-radius: var(--v-checkbox-border-radius);
    background-color: var(--v-checkbox-bg-color);
    border: var(--v-checkbox-border-width) var(--v-checkbox-border-style)
      var(--v-checkbox-border-color);

    @apply transition duration-300 disabled:cursor-not-allowed;

    &:disabled {
      --v-checkbox-bg-color: var(--v-checkbox-disabled-bg-color);
      --v-checkbox-border-color: var(--v-checkbox-disabled-border-color);
    }
  }

  &-label {
    font-size: var(--v-checkbox-label-font-size);
    font-weight: var(--v-checkbox-label-font-weight);
    display: var(--v-checkbox-label-display);
    margin-top: var(--v-checkbox-label-margin-top);
    color: var(--v-checkbox-label-color);

    @apply select-none;
  }

  &-hint {
    font-size: var(--v-checkbox-hint-font-size);
    color: var(--v-checkbox-hint-color);
    margin-top: var(--v-checkbox-hint-margin-top);
  }

  &-error {
    @apply text-sm text-error-500;
  }

  &-primary &-input {
    @apply text-primary-500 focus:border-primary-500 focus:ring-primary-500;
  }

  &-secondary &-input {
    @apply text-secondary-500 focus:border-secondary-500 focus:ring-secondary-500;
  }

  &-info &-input {
    @apply text-info-500 focus:border-info-500 focus:ring-info-500;
  }

  &-success &-input {
    @apply text-success-500 focus:border-success-500 focus:ring-success-500;
  }

  &-warning &-input {
    @apply text-warning-500 focus:border-warning-500 focus:ring-warning-500;
  }

  &-error &-input {
    @apply text-error-500 focus:border-error-500 focus:ring-error-500;
  }

  &--error &-input {
    @apply text-error-500 border-error-500 ring-error-500 focus:border-error-500 focus:ring-error-500;
  }
}
