:root {
  --v-main-width: 100%;
  --v-main-padding-x: var(--size-spacing-4);
  --v-main-padding-y: var(--size-spacing-4);
}

.v-main {
  width: var(--v-main-width);

  @media (min-width: 360px) {
    max-width: var(--screen-mobile);
  }

  @media (min-width: 834px) {
    max-width: var(--screen-tablet);
  }

  @media (min-width: 1440px) {
    max-width: var(--screen-desktop);
  }

  &--padded {
    padding: var(--v-main-padding-y) var(--v-main-padding-x);
  }

  &--fluid {
    max-width: none;
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }
}
