:root {
  --v-main-padding-x: var(--size-spacing-4);
  --v-main-padding-y: var(--size-spacing-4);
}

.v-container,
.v-main {
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  @media (min-width: 360px) {
    max-width: 360px;
  }

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 834px) {
    max-width: 834px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
  }

  @media (min-width: 1536px) {
    max-width: 1536px;
  }

  &--padded {
    padding: var(--v-main-padding-y) var(--v-main-padding-x);
  }

  &--fluid {
    max-width: none;
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }
}
