:root {
  --v-main-padding-x: var(--size-spacing-4);
  --v-main-padding-y: var(--size-spacing-4);
}

.v-main {
  width: 100%;

  @media (min-width: 360px) {
    .container {
      max-width: 360px;
    }
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 834px) {
    .container {
      max-width: 834px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }

  &--padded {
    padding: var(--v-main-padding-y) var(--v-main-padding-x);
  }

  &--fluid {
    max-width: none;
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }
}
