@import 'data-table-pagination.dark';

.dark {
  .v-table {
    /* thead */
    --v-table-thead-bg-color: var(--color-base-gray-true-800);

    // tr
    --v-table-tr-bg-color: var(--color-base-gray-true-800);

    /* th */
    --v-table-th-color: var(--color-base-gray-true-200);

    /* th active */
    --v-table-th-active-color: var(--color-brand-primary-500);

    /* th active hover */
    --v-table-th-active-hover-color: var(--color-brand-primary-600);

    /* td */
    --v-table-td-color: var(--color-base-gray-true-200);
    --v-table-td-bg-color: var(--color-base-gray-true-800);

    /* striped */
    --v-table-striped-bg-color: var(--color-base-gray-true-700);

    /* hover */
    --v-table-hover-bg-color: var(--color-base-gray-true-700);
  }

  .v-table {
    &-table,
    &-tbody,
    &--striped &-tbody {
      @apply divide-neutral-700;
    }

    &--selectable &-td,
    &--striped &-td,
    &--hover &-td {
      --v-table-td-bg-color: transparent;
    }

    /* loading */
    &--loading &-td,
    &--empty &-td {
      --v-table-td-color: var(--color-base-gray-true-300);
    }

    &--bordered &-tr {
      @apply divide-neutral-700;
    }

    &-th--sticky,
    &-td--sticky {
      @apply bg-neutral-800 drop-shadow-lg;
    }
  }
}
