:root {
  --v-divider-height: 1px;
  --v-divider-border-color: var(--color-gray-200);
  --v-divider-border-width: var(--v-divider-height);
  --v-divider-border-style: solid;
  --v-divider-inset-margin: 44px;
}

.v-divider {
  border: none;
  height: var(--v-divider-height);
  border-bottom-color: var(--v-divider-border-color);
  border-bottom-width: var(--v-divider-border-width);
  border-bottom-style: var(--v-divider-border-style);
  transition: inherit;
  margin: var(--size-spacing-1) 0;

  &--inset {
    margin-left: var(--v-divider-inset-margin);
  }

  &--vertical {
    width: var(--v-divider-height);
    align-self: stretch;
    display: inline-flex;
    height: inherit;
    max-height: 100%;
    vertical-align: text-bottom;
    border-right-color: var(--v-divider-border-color);
    border-right-width: var(--v-divider-border-width);
    border-right-style: var(--v-divider-border-style);
  }
}