.dark {
  .dropdown {
    --dropdown-bg-color: var(--color-gray-true-900);

    // button icon
    --dropdown-button-icon-color: var(--color-gray-true-500);

    // item
    --dropdown-item-color: var(--color-gray-true-200);
    --dropdown-item-icon-color: var(--color-gray-true-200);

    // item active
    --dropdown-item-active-color: currentColor;
    --dropdown-item-active-bg-color: var(--color-gray-true-800);

    // item icon
    --dropdown-item-icon-color: currentColor;

    // panel
    --dropdown-panel-bg-color: var(--color-gray-true-900);
    --dropdown-panel-border-color: var(--color-gray-true-700);

    // divider
    --dropdown-divider-border-color: var(--color-gray-true-800);

    // button activator
    --dropdown-button-activator-border-color: var(--color-gray-true-700);
    --dropdown-button-activator-color: var(--color-gray-true-300);

    // disabled
    --dropdown-item-disabled-color: var(--color-gray-true-600);
  }
}
