:root {
  --dropdown-bg-color: var(--color-white);
  --dropdown-base-height: 44px;

  // button icon
  --dropdown-button-icon-color: var(--color-gray-700);

  // item
  --dropdown-item-color: var(--color-gray-700);
  --dropdown-item-icon-color: var(--color-gray-700);
  --dropdown-item-gap: var(--size-spacing-2);
  --dropdown-item-border-radius: var(--border-radius-md);
  --dropdown-item-padding-x: var(--size-spacing-3);
  --dropdown-item-padding-y: var(--size-spacing-2);
  --dropdown-item-font-size: var(--size-font-sm);
  --dropdown-item-line-height: 20px;
  --dropdown-item-font-weight: var(--font-weight-medium);
  --dropdown-item-height: var(--dropdown-base-height);

  // item active
  --dropdown-item-active-color: currentColor;
  --dropdown-item-active-bg-color: var(--color-gray-50);

  // item icon
  --dropdown-item-icon-width: var(--size-spacing-4);
  --dropdown-item-icon-height: var(--size-spacing-4);
  --dropdown-item-icon-color: currentColor;

  // panel
  --dropdown-panel-bg-color: var(--color-white);
  --dropdown-panel-border-radius: var(--border-radius-lg);
  --dropdown-panel-box-shadow: var(--effect-shadow-lg);
  --dropdown-panel-z-index: 10;
  --dropdown-panel-padding: var(--size-spacing-1);
  --dropdown-panel-width: var(--size-spacing-56);
  --dropdown-panel-margin-top: var(--size-spacing-0);
  --dropdown-panel-border-width: 1px;
  --dropdown-panel-border-style: solid;
  --dropdown-panel-border-color: var(--color-gray-200);

  // divider
  --dropdown-divider-border-color: var(--color-gray-200);

  // button activator
  --dropdown-button-height: var(--dropdown-base-height);
  --dropdown-button-activator-gap: var(--size-spacing-2);
  --dropdown-button-activator-border-width: 1px;
  --dropdown-button-activator-border-style: solid;
  --dropdown-button-activator-border-color: var(--color-gray-300);
  --dropdown-button-activator-padding-y: var(--size-spacing-3);
  --dropdown-button-activator-padding-x: var(--size-spacing-4);
  --dropdown-button-activator-border-radius: var(--border-radius-lg);
  --dropdown-button-activator-color: var(--color-gray-700);
  --dropdown-button-activator-font-size: var(--size-font-sm);
  --dropdown-button-activator-font-weight: var(--font-weight-semibold);
  --dropdown-button-activator-line-height: 20px;

  // disabled
  --dropdown-item-disabled-color: var(--color-gray-400);
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;

  &-panel {
    position: absolute;
    z-index: var(--dropdown-panel-z-index);
    padding: var(--dropdown-panel-padding);
    width: var(--dropdown-panel-width);
    background-color: var(--dropdown-panel-bg-color);
    border-radius: var(--dropdown-panel-border-radius);
    box-shadow: var(--dropdown-panel-box-shadow);
    border-width: var(--dropdown-panel-border-width);
    border-style: var(--dropdown-panel-border-style);
    border-color: var(--dropdown-panel-border-color);

    &:focus {
      outline: none;
    }

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }

    &--bottom {
      top: 100%;
      margin-top: var(--dropdown-panel-margin-top);
    }

    &--top {
      bottom: 100%;
      margin-bottom: var(--dropdown-panel-margin-top);
    }
  }

  &-divider {
    height: var(--size-spacing-1);
    border-bottom-width: 1px;
    border-bottom-color: var(--dropdown-divider-border-color);
    border-bottom-style: solid;
    margin-top: var(--size-spacing-1);
    margin-bottom: var(--size-spacing-1);
    margin-left: -4px;
    margin-right: -4px;
  }

  &-item {
    height: var(--dropdown-item-height);
    display: flex;
    gap: var(--dropdown-item-gap);
    border-radius: var(--dropdown-item-border-radius);
    align-items: center;
    width: 100%;
    padding: var(--dropdown-item-padding-y) var(--dropdown-item-padding-x);
    color: var(--dropdown-item-color);
    background-color: var(--dropdown-item-bg-color);
    font-size: var(--dropdown-item-font-size);
    font-weight: var(--dropdown-item-font-weight);
    line-height: var(--dropdown-item-line-height);

    &--active:not(:disabled) {
      --dropdown-item-color: var(--dropdown-item-active-color);
      --dropdown-item-bg-color: var(--dropdown-item-active-bg-color);
    }

    &-icon {
      width: var(--dropdown-item-icon-width) !important;
      height: var(--dropdown-item-icon-height) !important;
      color: var(--dropdown-item-icon-color);
    }

    &--disabled,
    :disabled,
    [aria-disabled='true'] {
      cursor: not-allowed;
      --dropdown-item-color: var(--dropdown-item-disabled-color);
    }
  }

  &-header {
    padding: var(--size-spacing-2) var(--size-spacing-3);
    font-size: var(--size-font-sm);
    font-weight: var(--font-weight-semibold);
    line-height: 20px;
    color: var(--color-gray-700);
  }

  &-button-icon {
    color: var(--dropdown-button-icon-color);
  }

  &-button-activator {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: var(--dropdown-button-height);
    gap: var(--dropdown-button-activator-gap);
    border-width: var(--dropdown-button-activator-border-width);
    border-style: var(--dropdown-button-activator-border-style);
    border-color: var(--dropdown-button-activator-border-color);
    padding: var(--dropdown-button-activator-padding-y)
      var(--dropdown-button-activator-padding-x);
    border-radius: var(--dropdown-button-activator-border-radius);
    color: var(--dropdown-button-activator-color);
    font-size: var(--dropdown-button-activator-font-size);
    font-weight: var(--dropdown-button-activator-font-weight);
    line-height: var(--dropdown-button-activator-line-height);
  }
}
