:root {
  --v-editor-height: 300px;

  /* label */
  --v-editor-label-font-size: var(
    --input-label-font-size,
    var(--size-font-sm)
  );
  --v-editor-label-font-weight: var(--font-weight-regular);
  --v-editor-label-display: var(--v-input-label-display, block);
  --v-editor-label-margin-bottom: var(--size-spacing-2);

  // hint
  --v-select-hint-font-size: var(--v-input-hint-font-size, 14px);
  --v-select-hint-color: var(--v-input-hint-color);
  --v-select-hint-margin-top: var(--v-input-hint-margin-top);
}

:deep(.ck-editor__editable) {
  min-height: var(--v-editor-height);
}

.v-editor {
  &-label {
    font-size: var(--v-checkbox-label-font-size);
    font-weight: var(--v-checkbox-label-font-weight);
    display: var(--v-checkbox-label-display);
    margin-bottom: var(--v-checkbox-label-margin-bottom);
    user-select: none;
  }

  &-error {
    color: var(--color-error-500);
    font-size: var(--size-font-sm);
    margin-top: var(--size-spacing-1);
  }

  &-hint {
    font-size: var(--v-editor-hint-font-size);
    color: var(--v-editor-hint-color);
    margin-top: var(--v-editor-hint-margin-top);
  }
}
