@import '@morpheme/design-tokens/scss/_variables.scss';

:root {
  /* input control */
  --v-input-height: 44px;
  --v-input-border-color: #{$color-base-gray-300};
  --v-input-placeholder-color: #{$color-base-gray-500};
  --v-input-border-radius: #{$border-radius-lg};
  --v-input-padding-x: #{$size-spacing-3};
  --v-input-padding-y: #{$size-spacing-3};
  --v-input-font-size: #{$size-font-sm};
  --v-input-line-height: 20px;
  --v-input-bg-color: #{$color-base-white};
  --v-input-color: #{$color-base-gray-700};

  /* label */
  --v-input-label-font-size: #{$size-font-sm};
  --v-input-label-font-weight: #{$font-weight-semibold};
  --v-input-label-display: block;
  --v-input-label-margin-bottom: #{$size-spacing-1};

  /* text */
  --v-input-text-color: #{$color-base-gray-700};
  --v-input-text-font-size: #{$size-font-sm};
  --v-input-text-font-weight: #{$font-weight-regular};

  /* icon */
  --v-input-icon-width: #{$size-spacing-5};
  --v-input-icon-height: #{size-spacing-5};
  --v-input-icon-color: #{$color-base-gray-500};

  // disabled
  --v-input-disabled-bg-color: #{$color-base-gray-50};
  --v-input-disabled-color: #{$color-base-gray-500};
  --v-input-disabled-border-color: #{$color-base-gray-300};
  --v-input-disabled-placeholder-color: #{$color-base-gray-500};
  --v-input-disabled-icon-color: #{$color-base-gray-500};

  // hint
  --v-input-hint-font-size: #{$size-font-sm};
  --v-input-hint-color: #{$color-base-gray-600};
  --v-input-hint-margin-top: #{$size-spacing-1};

  // focus effect
  --v-input-effect-border-color: #{$color-brand-primary-300};
  --v-input-effect-shadow-color: #{$color-brand-primary-100};
}

.v-input {
  &--rounded {
    --v-input-border-radius: theme('borderRadius.full');
  }

  &--disabled {
    --v-input-bg-color: var(--v-input-disabled-bg-color);
    --v-input-color: var(--v-input-disabled-color);
    --v-input-border-color: var(--v-input-disabled-border-color);
    --v-input-placeholder-color: var(--v-input-disabled-placeholder-color);
    --v-input-icon-color: var(--v-input-disabled-icon-color);
  }

  &-hint {
    font-size: var(--v-input-hint-font-size);
    color: var(--v-input-hint-color);
    margin-top: var(--v-input-hint-margin-top);
  }

  &-label {
    color: var(--v-input-label-color);
    font-size: var(--v-input-label-font-size);
    font-weight: var(--v-input-label-font-weight);
    display: var(--v-input-label-display);
    margin-bottom: var(--v-input-label-margin-bottom);
  }
}

.v-input.v-input--select .v-input-control,
.v-input.v-input--textarea .v-input-control {
  width: 100%;

  &:focus {    
    border: 1px solid var(--v-input-effect-border-color);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--v-input-effect-shadow-color);
  }
}

.v-input.v-input--textarea .v-input-control,
.v-input.v-input--select .v-input-control,
.v-input-wrapper {
  border: 1px solid var(--v-input-border-color);
  border-radius: var(--v-input-border-radius);
  background-color: var(--v-input-bg-color);
  color: var(--v-input-color);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  display: flex;
  align-items: center;
  position: relative;
}

.v-input-prepend:empty,
.v-input-append:empty {
  display: none;
}
.v-input-prepend:not(:empty) {
  border-top-left-radius: var(--v-input-border-radius);
  border-bottom-left-radius: var(--v-input-border-radius);

  @apply px-3;
}
.v-input-append:not(:empty) {
  border-top-right-radius: var(--v-input-border-radius);
  border-bottom-right-radius: var(--v-input-border-radius);

  @apply px-3;
}
.v-input-prepend,
.v-input-append {
  @apply self-stretch flex items-center;
}

.v-input-control {
  flex: 1;
  border-radius: var(--v-input-border-radius);
  font-size: var(--v-input-font-size);
  line-height: var(--v-input-line-height);
  color: var(--v-input-color);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border: none;
  outline: none;

  // reset tailwind ring
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:not(textarea):not(select) {
    height: var(--v-input-height);
  }

  &::placeholder {
    color: var(--v-input-placeholder-color);
  }
}

.v-input:has(.v-input-prepend:not(:empty))
  .v-input-control:not(.v-input-control--has-prepend-class) {
  @apply pl-1;
}

.v-input:has(.v-input-append:not(:empty))
  .v-input-control:not(.v-input-control--has-append-class) {
  @apply pr-1;
}

/* box shadow effect colors */
.v-input {
  .v-input-wrapper:focus-within {
    border: 1px solid var(--v-input-effect-border-color);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--v-input-effect-shadow-color);
  }
}

.v-input-default,
.v-input-primary {
  --v-input-effect-border-color: #{$color-brand-primary-300};
  --v-input-effect-shadow-color: #{$color-brand-primary-100};
}

.v-input-secondary {
  --v-input-effect-border-color: #{$color-base-gray-300};
  --v-input-effect-shadow-color: #{$color-base-gray-100};
}
.v-input-info {
  --v-input-effect-border-color: #{$color-base-blue-light-300};
  --v-input-effect-shadow-color: #{$color-base-blue-light-100};
}
.v-input-warning {
  --v-input-effect-border-color: #{$color-base-warning-300};
  --v-input-effect-shadow-color: #{$color-base-warning-100};
}
.v-input-success {
  --v-input-effect-border-color: #{$color-base-success-300};
  --v-input-effect-shadow-color: #{$color-base-success-100};
}

.v-input--error,
.v-input-error {
  --v-input-effect-border-color: #{$color-base-error-300};
  --v-input-effect-shadow-color: #{$color-base-error-100};
}
.v-input-dark {
  --v-input-effect-border-color: #{$color-base-gray-true-300};
  --v-input-effect-shadow-color: #{$color-base-gray-true-100};
}

/* error */
// .v-input.v-input--select.v-input--error .v-input-control,
// .v-input.v-input--textarea.v-input--error .v-input-control {
//   @apply border-error-500 focus-within:border-error-500 focus-within:ring-error-500;
// }

.v-input-error {
  @apply text-error-500 text-sm mt-1 transition duration-300;
}
/* shadow */
.v-input.v-input--shadow .v-input-wrapper {
  @apply shadow-sm;
}
/* text */
.v-input-text {
  color: var(--v-input-text-color);
  font-size: var(--v-input-text-font-size);
  font-weight: var(--v-input-text-font-weight);
}

/* icon */
.v-input-icon {
  width: var(--v-input-icon-width) !important;
  height: var(--v-input-icon-height) !important;
  color: var(--v-input-icon-color);
}

/* sizes */
.v-input.v-input--sm {
  --v-input-height: 2rem;
  --v-input-padding-x: theme('padding.2');
  --v-input-padding-y: theme('padding.1');
  --v-input-font-size: theme('fontSize.sm');
  --v-input-label-font-size: theme('fontSize.xs');
}
.v-input.v-input--sm .v-input-icon {
  --v-input-icon-width: theme('width.4');
  --v-input-icon-height: theme('height.4');
}
.v-input.v-input--sm .v-input-prepend:not(:empty) {
  @apply px-2;
}

.v-input.v-input--lg {
  --v-input-height: 50px;
  --v-input-padding-x: theme('padding.5');
  --v-input-padding-y: theme('padding.3');
  --v-input-font-size: theme('fontSize.lg');
  --v-input-label-font-size: theme('fontSize.base');
}
.v-input.v-input--lg .v-input-icon {
  --v-input-icon-width: theme('width.7');
  --v-input-icon-height: theme('height.7');
}

.v-input-clearable {
  @apply cursor-pointer w-7 h-7 flex items-center justify-center
  hover:bg-gray-100 active:bg-gray-50 rounded-full mr-2;
}

.v-input-footer {
  @apply flex justify-between mt-1;
}

.v-input-counter {
  /*  */
}

.v-input-action {
  @apply flex items-center gap-2;
}
