:root {
  /* input control */
  --v-input-height: 44px;
  --v-input-border-color: var(--color-gray-300);
  --v-input-placeholder-color: var(--color-gray-500);
  --v-input-border-radius: var(--border-radius-lg);
  --v-input-padding-x: var(--size-spacing-3);
  --v-input-padding-y: var(--size-spacing-3);
  --v-input-font-size: var(--size-font-sm);
  --v-input-line-height: 20px;
  --v-input-bg-color: var(--color-white);
  --v-input-color: var(--color-gray-700);

  /* label */
  --v-input-label-font-size: var(--size-font-sm);
  --v-input-label-font-weight: var(--font-weight-semibold);
  --v-input-label-display: block;
  --v-input-label-margin-bottom: var(--size-spacing-1);

  /* text */
  --v-input-text-color: var(--color-gray-700);
  --v-input-text-font-size: var(--size-font-sm);
  --v-input-text-font-weight: var(--font-weight-regular);

  /* icon */
  --v-input-icon-width: var(--size-spacing-5);
  --v-input-icon-height: var(--size-spacing-5);
  --v-input-icon-color: var(--color-gray-500);

  // disabled
  --v-input-disabled-bg-color: var(--color-gray-50);
  --v-input-disabled-color: var(--color-gray-500);
  --v-input-disabled-border-color: var(--color-gray-300);
  --v-input-disabled-placeholder-color: var(--color-gray-500);
  --v-input-disabled-icon-color: var(--color-gray-500);

  // hint
  --v-input-hint-font-size: var(--size-font-sm);
  --v-input-hint-color: var(--color-gray-600);
  --v-input-hint-margin-top: var(--size-spacing-1);

  // focus effect
  --v-input-effect-border-color: var(--color-primary-300);
  --v-input-effect-shadow-color: var(--color-primary-100);

  // shadow
  --v-input-shadow: var(--effect-shadow-xs);
  --v-input-wrapper-shadow-color: rgba(16, 24, 40, 0.05);

  // autofill
  --v-autofill-color: var(--color-gray-700);
  --v-autofill-shadow-color: white;
}

// webkit autofill styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--v-autofill-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--v-autofill-shadow-color) inset;
  transition: background-color 5000s ease-in-out 0s;
  border: none !important;
  border-radius: none !important;
}

.v-input {
  &--rounded {
    --v-input-border-radius: var(--border-radius-full);
  }

  &--disabled:not(&-file):not(&-radio):not(&-checkbox):not(&-range) {
    --v-input-bg-color: var(--v-input-disabled-bg-color);
    --v-input-color: var(--v-input-disabled-color);
    --v-input-border-color: var(--v-input-disabled-border-color);
    --v-input-placeholder-color: var(--v-input-disabled-placeholder-color);
    --v-input-icon-color: var(--v-input-disabled-icon-color);
  }

  &--shadow:not(&-file):not(&-radio):not(&-checkbox):not(&-range) &-wrapper {
    box-shadow: var(--v-input-shadow);
  }

  &--borderless {
    --v-input-border-color: transparent;
    --v-input-effect-border-color: transparent;
    --v-input-effect-shadow-color: transparent;
    --v-input-wrapper-shadow-color: transparent;
  }

  &--no-ring {
    --v-input-effect-shadow-color: transparent;
  }

  &-hint {
    font-size: var(--v-input-hint-font-size);
    color: var(--v-input-hint-color);
    margin-top: var(--v-input-hint-margin-top);
  }

  &-label {
    color: var(--v-input-label-color);
    font-size: var(--v-input-label-font-size);
    font-weight: var(--v-input-label-font-weight);
    display: var(--v-input-label-display);
    margin-bottom: var(--v-input-label-margin-bottom);
  }

  &-clearable {
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-full);
    margin-right: 0.5rem;

    &:hover {
      background-color: var(--color-gray-100);
    }

    &:active {
      background-color: var(--color-gray-50);
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }

  &-action {
    display: flex;
    align-items: center;
    gap: var(--size-spacing-2);
  }

  &-counter {
    font-size: var(--size-font-sm);
  }

  &--error {
    --v-input-border-color: var(--color-error-300);
  }

  &-error {
    color: var(--color-error-500);
    margin-top: 0.25rem;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    font-size: var(--size-font-sm);
  }

  &-wrapper {
    border: 1px solid var(--v-input-border-color);
    border-radius: var(--v-input-border-radius);
    background-color: var(--v-input-bg-color);
    color: var(--v-input-color);
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    display: flex;
    align-items: center;
    position: relative;
  }

  /* text */
  &-text {
    color: var(--v-input-text-color);
    font-size: var(--v-input-text-font-size);
    font-weight: var(--v-input-text-font-weight);
  }

  /* icon */
  &-icon {
    width: var(--v-input-icon-width) !important;
    height: var(--v-input-icon-height) !important;
    color: var(--v-input-icon-color);
  }

  // other inputs
  &-file,
  &-radio,
  &-checkbox,
  &-range {
    .v-input-wrapper {
      border: none;
    }
    &:focus-within {
      .v-input-wrapper {
        border: none;
        box-shadow: none;
      }
    }
  }

  &-checkbox {
    .v-input-control {
      border-radius: var(--border-radius-md);
    }
  }

  &-prepend:empty,
  &-append:empty {
    display: none;
  }

  &-prepend:not(:empty) {
    border-top-left-radius: var(--v-input-border-radius);
    border-bottom-left-radius: var(--v-input-border-radius);
    padding-left: 0.75rem /* 12px */;
    padding-right: 0.75rem /* 12px */;
  }

  &-append:not(:empty) {
    border-top-right-radius: var(--v-input-border-radius);
    border-bottom-right-radius: var(--v-input-border-radius);
    padding-left: 0.75rem /* 12px */;
    padding-right: 0.75rem /* 12px */;
  }

  &-prepend,
  &-append {
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  &:has(&-prepend:not(:empty)) &-control:not(&-control--has-prepend-class) {
    padding-left: 2px;
  }

  &:has(&-append:not(:empty)) &-control:not(&-control--has-append-class) {
    padding-right: 2px;
  }

  /* box shadow effect colors */
  &-wrapper {
    &:focus-within {
      border: 1px solid var(--v-input-effect-border-color);
      box-shadow: 0px 1px 2px var(--v-input-wrapper-shadow-color),
        0px 0px 0px 4px var(--v-input-effect-shadow-color);
    }
  }

  /* sizes */
  &--sm {
    --v-input-height: var(--size-spacing-8);
    --v-input-padding-x: var(--size-spacing-1);
    --v-input-padding-y: var(--size-spacing-1);
    --v-input-font-size: var(--size-font-xs);
    --v-input-label-font-size: var(--size-font-xs);
    --v-input-icon-width: var(--size-spacing-4);
    --v-input-icon-height: var(--size-spacing-4);

    .v-input-prepend:not(:empty) {
      padding-left: var(--size-spacing-2);
      padding-right: var(--size-spacing-2);
    }
  }

  // lg
  &--lg {
    --v-input-height: 50px;
    --v-input-padding-x: var(--size-spacing-3);
    --v-input-padding-y: var(--size-spacing-3);
    --v-input-font-size: var(--size-font-lg);
    --v-input-label-font-size: var(--size-font-lg);
    --v-input-icon-width: var(--size-spacing-5);
    --v-input-icon-height: var(--size-spacing-5);
  }

  // md / default
  &--md {
    --v-input-height: 44px;
    --v-input-padding-x: var(--size-spacing-3);
    --v-input-padding-y: var(--size-spacing-3);
    --v-input-font-size: var(--size-font-sm);
    --v-input-label-font-size: var(--size-font-sm);
    --v-input-icon-width: var(--size-spacing-5);
    --v-input-icon-height: var(--size-spacing-5);
  }

  // ring effect colors
  &:not(.v-input--no-ring) {
    &.v-input-default,
    &.v-input-primary {
      --v-input-effect-border-color: var(--color-primary-300);
      --v-input-effect-shadow-color: var(--color-primary-100);
    }

    &.v-input-secondary {
      --v-input-effect-border-color: var(--color-secondary-300);
      --v-input-effect-shadow-color: var(--color-secondary-100);
    }
    &.v-input-info {
      --v-input-effect-border-color: var(--color-info-300);
      --v-input-effect-shadow-color: var(--color-info-100);
    }
    &.v-input-warning {
      --v-input-effect-border-color: var(--color-warning-300);
      --v-input-effect-shadow-color: var(--color-warning-100);
    }
    &.v-input-success {
      --v-input-effect-border-color: var(--color-success-300);
      --v-input-effect-shadow-color: var(--color-success-100);
    }

    &.v-input-dark {
      --v-input-effect-border-color: var(--color-gray-true-300);
      --v-input-effect-shadow-color: var(--color-gray-true-100);
    }

    &.v-input--error,
    &.v-input-error {
      --v-input-effect-border-color: var(--color-error-300);
      --v-input-effect-shadow-color: var(--color-error-100);
    }
  }

  // control
  &-control:not([type='radio']):not([type='checkbox']) {
    flex: 1;
    border-radius: var(--v-input-border-radius);
    font-size: var(--v-input-font-size);
    line-height: var(--v-input-line-height);
    color: var(--v-input-color);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;

    // reset tailwind ring
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:not(textarea) {
      height: var(--v-input-height);
    }

    &::placeholder {
      color: var(--v-input-placeholder-color);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
