.dark {
  .v-list {
    --v-list-bg-color: var(--color-transparent);

    /* item */
    --v-list-item-color: var(--color-gray-true-200);
    --v-list-item-bg-color: var(--color-transparent);
    --v-list-item-border-color: var(--color-transparent);

    /* item hover */
    --v-list-item-hover-bg-color: var(--color-gray-true-700);
    --v-list-item-hover-color: var(--color-gray-true-200);

    /* item header */
    --v-list-item-header-color: var(--color-gray-true-500);

    /* divider */
    --v-list-item-divider-color: var(--color-gray-true-700);

    // icon
    --v-list-item-icon-color: var(--color-gray-true-300);

    // append text
    --v-list-item-append-text-color: var(--color-gray-true-500);
  }
}
