.dark {
  .v-menus,
  .v-menus-items {
    --v-menus-popper-border-color: var(--color-gray-true-700);

    /* button */
    --v-menus-button-color: var(--color-gray-true-200);
    --v-menus-button-icon-color: var(--color-gray-true-500);

    /* menus */
    --v-menus-bg-color: var(--color-gray-true-800);
    --v-menus-border-color: var(--color-gray-true-700);

    /* item */
    --v-menus-item-bg-color: var(--color-gray-true-800);
    --v-menus-item-text-color: var(--color-gray-true-200);

    /* item hover */
    --v-menus-item-hover-bg-color: var(--color-gray-true-700);
    --v-menus-item-hover-text-color: var(--color-gray-true-200);

    /* arrow */
    --v-menus-arrow-border-color: var(--color-gray-true-700);
  }
}
