.dark {
  .v-modal {
    --v-modal-text-color: var(--colors-base-gray-true-200);
    --v-modal-bg-color: var(--colors-base-gray-true-800);
    --v-modal-title-color: var(--colors-base-gray-true-200);
  }
}
