.dark {
  .v-multi-select {
    --v-multi-select-border-color: var(--v-input-border-color);
    --v-multi-select-bg-color: var(--v-input-bg-color);
    --v-multi-select-placeholder-color: var(--v-input-placeholder-color);
    --v-multi-select-text-color: var(--color-gray-true-800);

    /* item */
    --v-multi-select-item-bg-color: var(--color-gray-true-800);
    --v-multi-select-item-text-color: var(--color-gray-true-200);

    // item hover
    --v-multi-select-item-hover-bg-color: var(--color-gray-true-700);
    --v-multi-select-item-hover-text-color: var(--color-gray-true-200);
  
    // item focused
    --v-multi-select-item-focused-bg-color: var(--color-gray-true-700);
    --v-multi-select-item-focused-text-color: var(--color-gray-true-200);

    /* error */
    --v-multi-select-error-border-color: var(--color-gray-error-500);

    /* icon */
    --v-multi-select-icon-color: var(--color-gray-true-500);

    /* dropdown */
    --v-multi-select-dropdown-bg-color: var(--color-gray-true-800);
    --v-multi-select-dropdown-border-color: var(--color-gray-true-700);

    // hint
    --v-multi-select-hint-color: var(--color-gray-true-500);
  }
}
