.dark {
  .nav-drawer {
    --nav-drawer-bg-color: var(--color-gray-true-800);
    --nav-drawer-text-color: var(--color-gray-true-200);
    --nav-drawer-border-color: var(--color-gray-true-700);

    /* variants */
    &-default {
      --nav-drawer-bg-color: var(--color-gray-true-800);
    }
  }
}
