.dark {
  .v-pagination {
    /* item */
    --v-pagination-item-bg-color: var(--color-gray-true-700);
    --v-pagination-item-text-color: var(--color-gray-true-200);
    --v-pagination-item-border-color: var(--color-gray-true-700);

    /* item active */
    --v-pagination-item-active-bg-color: var(--color-primary-500);
    --v-pagination-item-active-border-color: var(--color-primary-500);
    --v-pagination-item-active-text-color: var(--color-gray-true-200);

    /* item hover */
    --v-pagination-item-hover-bg-color: var(--color-gray-true-600);
    --v-pagination-item-hover-text-color: var(--color-gray-true-200);

    /* item disabled */
    --v-pagination-item-disabled-bg-color: var(--color-gray-true-600);
    --v-pagination-item-disabled-border-color: var(--color-gray-true-600);
    --v-pagination-item-disabled-text-color: var(--color-gray-true-400);

    &-item {
      &--ellipsis {
        --v-pagination-bg-color: var(--v-pagination-item-disabled-bg-color);
        --v-pagination-text-color: var(--v-pagination-item-disabled-text-color);
        --v-pagination-border-color: var(
          --v-pagination-item-disabled-border-color
        );
      }
    }

    // variants
    &--text-rounded,
    &--text {
      --v-pagination-item-bg-color: transparent;
      --v-pagination-item-text-color: var(--color-gray-200);
      --v-pagination-item-border-color: transparent;
      --v-pagination-item-active-bg-color: var(--color-gray-true-600);
      --v-pagination-item-active-text-color: initial;
      --v-pagination-item-active-border-color: transparent;
      --v-pagination-item-hover-bg-color: transparent;
      --v-pagination-item-hover-text-color: initial;
      --v-pagination-item-disabled-bg-color: transparent;
      --v-pagination-item-disabled-text-color: var(--color-gray-true-500);
      --v-pagination-item-disabled-border-color: transparent;
    }
  }
}
