:root {
  --v-pagination-shadow: var(--effect-shadow-xs);
  --v-pagination-border-radius: var(--border-radius-lg);
  --v-pagination-gap: var(--size-spacing-0);

  /* item */
  --v-pagination-item-padding-x: var(--size-spacing-4);
  --v-pagination-item-padding-y: var(--size-spacing-2);
  --v-pagination-item-bg-color: var(--color-white);
  --v-pagination-item-text-color: var(--color-gray-700);
  --v-pagination-item-border-color: var(--color-gray-300);
  --v-pagination-item-border-radius: var(--border-radius-lg);
  --v-pagination-item-border-width: 1px;
  --v-pagination-item-font-size: var(--size-font-sm);
  --v-pagination-item-font-weight: var(--font-weight-semibold);
  --v-pagination-item-height: 40px;
  --v-pagination-item-gap: var(--size-spacing-2);

  /* item active */
  --v-pagination-item-active-bg-color: var(--color-primary-500);
  --v-pagination-item-active-border-color: var(--color-primary-500);
  --v-pagination-item-active-text-color: var(--color-white);

  /* item hover */
  --v-pagination-item-hover-bg-color: var(--color-gray-50);

  /* item disabled */
  --v-pagination-item-disabled-bg-color: var(--v-pagination-item-bg-color);
  --v-pagination-item-disabled-border-color: var(--v-pagination-item-border-color);
  --v-pagination-item-disabled-text-color: var(--color-gray-400);

  /* item action */
  --v-pagination-item-action-padding-x: var(--size-spacing-2);
  --v-pagination-item-action-padding-y: var(--size-spacing-2);
  /* action sm */
  --v-pagination-sm-item-action-padding-x: var(--size-spacing-2);
  --v-pagination-sm-item-action-padding-y: var(--size-spacing-2);
  /* action sm */
  --v-pagination-lg-item-action-padding-x: var(--size-spacing-4);
  --v-pagination-lg-item-action-padding-y: var(--size-spacing-4);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.v-pagination {
  box-shadow: var(--v-pagination-shadow);
  gap: var(--v-pagination-gap);
  display: inline-flex;
  align-items: center;
  border-radius: var(--v-pagination-border-radius);

  > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(-1px * var(--tw-space-x-reverse));
    margin-left: calc(-1px * calc(1 - var(--tw-space-x-reverse)));
  }

  &--flat {
    --v-pagination-shadow: none;
  }

  &-item {
    background: var(--v-pagination-item-bg-color);
    color: var(--v-pagination-item-text-color);
    border: 1px solid var(--v-pagination-item-border-color);
    padding: var(--v-pagination-item-padding-y)
      var(--v-pagination-item-padding-x);
    font-size: var(--v-pagination-item-font-size);
    font-weight: var(--v-pagination-item-font-weight);
    height: var(--v-pagination-item-height);
    gap: var(--v-pagination-item-gap);
    position: relative;
    display: inline-flex;
    align-items: center;

    &:disabled {
      background: var(--v-pagination-item-disabled-bg-color);
      color: var(--v-pagination-item-disabled-text-color);
      border-color: var(--v-pagination-item-disabled-border-color);
      cursor: not-allowed;
    }

    &:first-child {
      border-top-left-radius: var(--v-pagination-item-border-radius);
      border-bottom-left-radius: var(--v-pagination-item-border-radius);
    }

    &:last-child {
      border-top-right-radius: var(--v-pagination-item-border-radius);
      border-bottom-right-radius: var(--v-pagination-item-border-radius);
    }

    &:hover:not(&--active):not(&--ellipsis):not(:disabled) {
      background: var(--v-pagination-item-hover-bg-color);
      color: var(--v-pagination-item-hover-text-color);
    }

    &--action {
      padding: var(--v-pagination-item-action-padding-y)
        var(--v-pagination-item-action-padding-x);
    }

    &--active,
    &--active:hover {
      --v-pagination-item-bg-color: var(--v-pagination-item-active-bg-color);
      --v-pagination-item-border-color: var(
        --v-pagination-item-active-border-color
      );
      --v-pagination-item-text-color: var(
        --v-pagination-item-active-text-color
      );
    }

    &--ellipsis {
      --v-pagination-bg-color: transparent;
      --v-pagination-border-color: transparent;
    }
  }

  /* sizes */
  &--sm {
    --v-pagination-item-height: 32px;
    --v-pagination-item-font-size: var(--size-font-xs);
    --v-pagination-item-padding-x: var(--size-spacing-3);
    --v-pagination-item-padding-y: var(--size-spacing-1);
  }

  &--sm &-item--action {
    padding: var(--v-pagination-sm-item-action-padding-y)
      var(--v-pagination-sm-item-action-padding-x);
  }

  &--lg {
    --v-pagination-item-height: 46px;
    --v-pagination-item-font-size: var(--size-font-md);
    --v-pagination-item-padding-x: var(--size-spacing-5);
    --v-pagination-item-padding-y: var(--size-spacing-3);
  }

  &--lg &-item--action {
    padding: var(--v-pagination-lg-item-action-padding-y)
      var(--v-pagination-lg-item-action-padding-x);
  }
}
