:root {
  --v-progress-bar-bg-color: var(--color-base-gray-200);
  --v-progress-bar-fill-color: var(--color-base-gray-400);
  --v-progress-bar-height: var(--size-spacing-2);
  --v-progress-bar-border-radius: var(--border-radius-full);
  --v-progress-bar-font-size: var(--size-font-xs);
  --v-progress-bar-label-color: var(--color-base-white);
  --v-progress-bar-transition-property: all;
  --v-progress-bar-transition-duration: 300ms;
  --v-progress-bar-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --v-progress-bar-indeterminate-animation-name: indeterminateAnimation;
  --v-progress-bar-indeterminate-animation-duration: 2s;
  --v-progress-bar-indeterminate-animation-timing-function: linear;
  --v-progress-bar-indeterminate-animation-iteration-count: infinite;
}

.v-progress-bar {
  position: relative;
  font-size: var(--v-progress-bar-font-size);
  color: var(--v-progress-bar-label-color);

  &-background {
    height: var(--v-progress-bar-height);
    background-color: var(--v-progress-bar-bg-color);
    border-radius: var(--v-progress-bar-border-radius);
    overflow: hidden;
    display: flex;    
  }

  &-fill {
    background-color: var(--v-progress-bar-fill-color);
    border-radius: var(--v-progress-bar-border-radius);
    transition-property: var(--v-progress-bar-transition-property);
    transition-duration: var(--v-progress-bar-transition-duration);
    transition-timing-function: var(
      --v-progress-bar-transition-timing-function
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* colors */
  &-primary {
    --v-progress-bar-fill-color: var(--color-brand-primary-500);
  }
  &-secondary {
    --v-progress-bar-fill-color: var(--color-base-gray-500);
  }
  &-info {
    --v-progress-bar-fill-color: var(--color-base-blue-light-500);
  }
  &-warning {
    --v-progress-bar-fill-color: var(--color-base-warning-500);
  }
  &-success {
    --v-progress-bar-fill-color: var(--color-base-success-500);
  }
  &-error {
    --v-progress-bar-fill-color: var(--color-base-error-500);
  }
  &-dark {
    --v-progress-bar-fill-color: var(--color-base-gray-800);
  }

  /* label */
  &-label {
    color: var(--v-progress-bar-label-color);
    position: absolute;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-label:empty {
    display: none;
  }

  /* indeterminate */
  &--indeterminate &-fill {
    animation-name: var(--v-progress-bar-indeterminate-animation-name);
    animation-duration: var(--v-progress-bar-indeterminate-animation-duration);
    animation-iteration-count: var(
      --v-progress-bar-indeterminate-animation-iteration-count
    );
    animation-timing-function: var(
      --v-progress-bar-indeterminate-animation-timing-function
    );
    transform-origin: 0% 50%;
    width: 100%;
  }
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
