.dark {
  .v-progress-bar {
    --v-progress-bar-bg-color: var(--color-base-gray-true-500);
    --v-progress-bar-label-color: var(--color-base-gray-true-200);
    &-default {
      --v-progress-bar-fill-color: var(--color-base-gray-true-700);
    }
  }
}
