:root {
  /* label */
  --v-radio-group-label-color: var(--v-input-label-color);
  --v-radio-group-label-font-size: var(--v-input-label-font-size);
  --v-radio-group-label-font-weight: var(--v-input-label-font-weight);
  --v-radio-group-label-display: var(--v-input-label-display);
  --v-radio-group-label-margin-bottom: var(--v-input-label-margin-bottom);

  // items text
  --v-radio-group-items-text-color: var(--color-base-gray-700);
  --v-radio-group-items-disabed-text-color: var(--color-base-gray-500);

  // hint
  --v-radio-group-hint-font-size: var(--v-input-hint-font-size, 14px);
  --v-radio-group-hint-color: var(--v-input-hint-color);
  --v-radio-group-hint-margin-top: var(--v-input-hint-margin-top);
}

.v-radio-group {
  $c: &;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &-label {
    color: var(--v-radio-group-label-color);
    font-size: var(--v-radio-group-label-font-size);
    font-weight: var(--v-radio-group-label-font-weight);
    display: var(--v-radio-group-label-display);
    margin-bottom: var(--v-radio-group-label-margin-bottom);
  }

  &-hint {
    font-size: var(--v-radio-group-hint-font-size);
    color: var(--v-radio-group-hint-color);
    margin-top: var(--v-radio-group-hint-margin-top);
  }

  &-items {
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;

    @media (min-width: 640px) {
      column-gap: 2rem /* 32px */;
    }

    &-input {
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
      border-width: var(--v-radio-border-width);
      border-color: var(--v-radio-border-color) !important;
      border-style: var(--v-radio-border-style);
      background-color: var(--v-radio-bg-color) !important;

      &:checked {
        --v-radio-bg-color: var(--v-radio-checked-bg-color);
        --v-radio-border-color: var(--v-radio-checked-border-color);
        background-image: var(--v-radio-bg-image) !important;
      }

      &:disabled {
        cursor: not-allowed;
        --v-radio-bg-color: var(--v-radio-disabled-bg-color);
        --v-radio-border-color: var(--v-radio-disabled-border-color);

        &:checked {
          background-image: var(--v-radio-disabled-bg-image) !important;
        }
      }

      &:focus {
        border: 1px solid var(--v-input-effect-border-color);
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
          0px 0px 0px 4px var(--v-input-effect-shadow-color);
      }
    }

    &-label {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 0.5rem;
    }

    &-text {
      color: var(--v-radio-group-items-text-color);
      font-size: var(--size-font-sm);
    }

    &--disabled {
      .v-radio-group-items-text {
        color: var(--v-radio-group-items-disabed-text-color);
        cursor: not-allowed;
      }
    }
  }

  // inline
  &--inline {
    #{$c}-items {
      flex-direction: row;
    }
  }

  // error text
  &-error {
    color: var(--color-base-error-500);
    margin-top: var(--size-spacing-1);
    font-size: var(--size-font-sm);
  }

  // error state
  &--error {

    #{$c}-label {
      --v-radio-group-label-color: var(--v-input-error-color);
    }
  }
}
