.dark {
  .v-select {
    /* input control / button */
    --v-select-border-color: var(--v-input-border-color);
    --v-select-bg-color: var(--v-input-bg-color);
    --v-select-placeholder-color: var(--v-input-placeholder-color);

    // options
    --v-select-options-bg-color: var(--color-gray-true-800);

    /* option item */
    --v-select-option-bg-color: var(--color-gray-true-800);
    --v-select-option-text-color: var(--color-gray-true-200);

    /* option item on hover */
    --v-select-option-hover-bg-color: var(--color-gray-true-700);
    --v-select-option-hover-text-color: var(--color-gray-true-200);

    // icon
    --v-select-icon-hover-color: var(--color-gray-true-200);

    // hint
    --v-select-hint-color: var(--color-gray-true-500);
  }
}
