:root {
  /* input control / button */
  --v-select-border-color: var(--v-input-border-color);
  --v-select-border-radius: var(--v-input-border-radius);
  --v-select-bg-color: var(--v-input-bg-color);
  --v-select-height: var(--v-input-height);
  --v-select-placeholder-color: var(--v-input-placeholder-color);
  --v-select-border-radius: var(--v-input-border-radius);
  --v-select-padding-x: var(--v-input-padding-x);
  --v-select-padding-y: var(--v-input-padding-y);
  --v-select-font-size: var(--v-input-font-size);

  /* label */
  --v-select-label-color: var(--v-input-label-color);
  --v-select-label-font-size: var(--v-input-label-font-size);
  --v-select-label-font-weight: var(--v-input-label-font-weight);
  --v-select-label-display: var(--v-input-label-display);
  --v-select-label-margin-bottom: var(--v-input-label-margin-bottom);

  /* text */
  --v-select-text-color: var(--v-input-text-color);
  --v-select-text-font-size: var(--v-input-text-font-size);
  --v-select-text-font-weight: var(--v-input-text-font-weight);

  /* icon */
  --v-select-icon-width: var(--size-spacing-4);
  --v-select-icon-height: var(--size-spacing-4);
  --v-select-icon-color: var(--v-input-icon-color);

  // options
  --v-select-options-bg-color: var(--color-white);
  --v-select-options-border-color: var(--color-gray-300);

  /* option item */
  --v-select-option-padding-x: var(--size-spacing-4);
  --v-select-option-padding-y: var(--size-spacing-2);
  --v-select-option-bg-color: var(--color-white);
  --v-select-option-text-color: var(--color-gray-700);

  /* option item on hover */
  --v-select-option-hover-bg-color: var(--color-gray-100);
  --v-select-option-hover-text-color: var(--color-gray-700);

  // selected
  --v-select-selected-color: var(--v-input-label-color);

  // error
  --v-select-error-border-color: var(--color-error-300);

  // hint
  --v-select-hint-font-size: var(--v-input-hint-font-size, 14px);
  --v-select-hint-color: var(--v-input-hint-color);
  --v-select-hint-margin-top: var(--v-input-hint-margin-top);

  // check selected
  --v-select-option-check-selected-color: var(--color-primary-700);

  // empty
  --v-select-empty-color: var(--color-gray-600);
}

.v-select {
  $c: &;
  position: relative;

  &--shadow {
    #{$c}-button {
      box-shadow: var(--v-input-shadow);
    }
  }

  &--shadow-xs {
    #{$c}-button {
      box-shadow: var(--effect-shadow-xs);
    }
  }

  &--shadow-sm {
    #{$c}-button {
      box-shadow: var(--effect-shadow-sm);
    }
  }

  &--shadow-md {
    #{$c}-button {
      box-shadow: var(--effect-shadow-md);
    }
  }

  &--shadow-lg {
    #{$c}-button {
      box-shadow: var(--effect-shadow-lg);
    }
  }

  &--shadow-xl {
    #{$c}-button {
      box-shadow: var(--effect-shadow-xl);
    }
  }

  &--shadow-2xl {
    #{$c}-button {
      box-shadow: var(--effect-shadow-2xl);
    }
  }

  &--shadow-3xl {
    #{$c}-button {
      box-shadow: var(--effect-shadow-3xl);
    }
  }

  &--shadow-inner {
    #{$c}-button {
      box-shadow: var(--effect-shadow-inner);
    }
  }

  &--shadow-none {
    #{$c}-button {
      box-shadow: var(--effect-shadow-none);
    }
  }

  &-button {
    border: 1px solid var(--v-select-border-color);
    border-radius: var(--v-select-border-radius);
    background-color: var(--v-select-bg-color);
    padding: var(--v-select-padding-y) var(--v-select-padding-x);
    height: var(--v-select-height);
    font-size: var(--v-select-font-size);
    font-weight: var(--v-select-font-weight);
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: left;
    cursor: default;
    display: flex;
    align-items: center;
    gap: 4px;

    &:disabled {
      cursor: not-allowed;
      --v-select-text-color: var(--v-input-disabled-text-color);
      --v-select-bg-color: var(--v-input-disabled-bg-color);
    }

    &:focus {
      outline: none;
      border: 1px solid var(--v-input-effect-border-color);
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
        0px 0px 0px 4px var(--v-input-effect-shadow-color);
    }
  }

  &--error {
    --v-input-effect-border-color: var(--color-error-300);
    --v-input-effect-shadow-color: var(--color-error-100);
  }

  &--error &-button {
    --v-select-border-color: var(--v-select-error-border-color);
  }

  &-selected {
    color: var(--v-select-selected-color);
    display: block;
    flex-grow: 1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.5rem;

    &--placeholder {
      color: var(--v-select-placeholder-color);
    }
  }

  &-options {
    background-color: var(--v-select-options-bg-color);
    position: absolute;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    overflow: auto;
    text-align: left;
    border-radius: var(--v-select-border-radius);
    box-shadow: var(--effect-shadow-md);
    max-height: 15rem;
    z-index: 10;
    border: 1px solid var(--v-select-options-border-color);
  }

  &-clearable {
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
    padding-right: 12px;

    &-button {
      width: auto;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    &-icon {
      width: var(--v-select-icon-width) !important;
      height: var(--v-select-icon-height) !important;
      color: var(--v-select-icon-color);

      &:hover {
        color: var(--v-select-icon-hover-color);
      }
    }
  }

  &-icon {
    width: var(--v-select-icon-width);
    height: var(--v-select-icon-height);
    color: var(--v-select-icon-color);
  }

  &-option {
    padding: var(--v-select-option-padding-y) var(--v-select-option-padding-x);
    font-size: var(--v-select-font-size);
    font-weight: var(--v-select-font-weight);
    background: var(--v-select-option-bg-color);
    color: var(--v-select-option-text-color);
    cursor: default; // Equivalent to cursor-default
    user-select: none; // Equivalent to select-none
    position: relative; // Equivalent to relative
    display: flex; // Equivalent to flex
    gap: 0.5rem; // Equivalent to gap-2
    align-items: center; // Equivalent to items-center

    &:hover,
    &--active {
      --v-select-option-bg-color: var(--v-select-option-hover-bg-color);
      --v-select-option-text-color: var(--v-select-option-hover-text-color);
    }

    &-text {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
    }

    &-check {
      flex-shrink: 0;
      width: 1.5rem /* 24px */;
      height: 1.5rem /* 24px */;

      &--selected {
        color: var(--v-select-option-check-selected-color);
      }

      &-icon {
        width: 1.25rem /* 20px */;
        height: 1.25rem /* 20px */;
      }
    }
  }

  &-searchable {
    padding-left: 0.75rem /* 12px */;
    padding-right: 0.75rem /* 12px */;
    border-bottom-width: 1px;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
  }

  // error text
  &-error {
    color: var(--color-error-500);
    font-size: var(--v-select-error-font-size, var(--size-font-sm));
    margin-top: var(--v-select-error-margin-top, var(--size-spacing-1));

    &:empty {
      display: none;
    }
  }

  &-label {
    color: var(--v-select-label-color);
    font-size: var(--v-select-label-font-size);
    font-weight: var(--v-select-label-font-weight);
    display: var(--v-select-label-display);
    margin-bottom: var(--v-select-label-margin-bottom);
  }

  &-panel {
    position: relative;
  }

  &-hint {
    font-size: var(--v-select-hint-font-size);
    color: var(--v-select-hint-color);
    margin-top: var(--v-select-hint-margin-top);

    &:empty {
      display: none;
    }
  }

  /* sizes */
  // sm
  &--sm {
    --v-select-height: 2rem;
    --v-select-padding-x: var(--size-spacing-2);
    --v-select-padding-y: var(--size-spacing-1);
    --v-select-font-size: var(--size-font-xs);
    --v-select-label-font-size: var(--size-font-xs);
  }

  &--sm &-button {
    --v-select-font-size: var(--size-font-xs);
  }

  &--sm &-icon {
    --v-select-icon-width: var(--size-spacing-4);
    --v-select-icon-height: var(--size-spacing-4);
  }

  &--sm &-option {
    --v-select-option-padding-x: var(--size-spacing-2);
    --v-select-option-padding-y: var(--size-spacing-1);
  }

  // lg
  &--lg {
    --v-select-height: 50px;
    --v-select-padding-x: var(--size-spacing-5);
    --v-select-padding-y: var(--size-spacing-3);
    --v-select-font-size: var(--size-font-lg);
    --v-select-label-font-size: var(--size-font-lg);
  }

  &--lg &-button {
    --v-select-font-size: var(--size-font-lg);
  }

  &--lg &-icon {
    --v-select-icon-width: var(--size-spacing-6);
    --v-select-icon-height: var(--size-spacing-6);
  }

  &--lg &-option {
    --v-select-option-padding-x: var(--size-spacing-5);
    --v-select-option-padding-y: var(--size-spacing-3);
  }

  &--searchable {
    .v-select-button {
      height: auto;
      min-height: var(--v-select-height);
      max-height: none;
      flex-wrap: wrap;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      gap: 0;
    }

    .v-select-selected {
      display: none;
    }
  }

  &-selection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--size-spacing-2);
    padding: var(--size-spacing-2);
  }

  &-empty {
    color: var(--v-select-empty-color);
    cursor: default;
    user-select: none;
    position: relative;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    font-size: var(--size-font-sm);
  }

  &-input {
    color: var(--v-input-color);
    background-color: var(--v-input-bg-color);
    font-size: var(--v-input-font-size);
    font-weight: var(--v-input-font-weight);
    line-height: var(--v-input-line-height);
    width: auto;
    flex-grow: 1;
    border: none;
    border-radius: var(--v-select-border-radius);
    max-width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
