:root {
  --shimmer-bg-image: linear-gradient(
    to right,
    rgb(247, 247, 247),
    rgb(220, 220, 220),
    rgb(247, 247, 247)
  );
  --shimmer-bg-size: 200%;
  --shimmer-border-radius: 0;
  --shimmer-animation-name: a-background-move;
  --shimmer-animation-duration: 1.5s;
}

.shimmer {
  animation: var(--shimmer-animation-name) var(--shimmer-animation-duration)
    infinite;
  background-image: var(--shimmer-bg-image);
  background-size: var(--shimmer-bg-size);
  border-radius: var(--shimmer-border-radius);

  &--rounded {
    --shimmer-border-radius: 9999px;
  }
}

@keyframes a-background-move {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}
