:root {
  --v-switch-width: 100%;
  /* button */
  --v-switch-button-bg-color: var(--color-gray-200);
  --v-switch-button-border-color: var(--color-gray-200);
  --v-switch-button-checked-bg-color: var(--color-primary-500);
  --v-switch-button-checked-border-color: var(--color-primary-500);
  --v-switch-button-width: 36px;
  --v-switch-button-height: 20px;
  --v-switch-button-padding-y: 0px;
  --v-switch-button-padding-x: 0px;

  /* thumb */
  --v-switch-thumb-bg-color: var(--color-white);
  --v-switch-thumb-width: 16px;
  --v-switch-thumb-height: 16px;
  --v-switch-thumb-border-radius: var(--border-radius-full);
  --v-switch-thumb-translate-x: 0px;

  --v-switch-thumb-active-translate-x: 16px;

  /* label */
  --v-switch-label-color: var(--v-input-label-color);
  --v-switch-label-font-size: var(--v-input-label-font-size);
  --v-switch-label-font-weight: var(--v-input-label-font-weight);

  // hint
  --v-switch-hint-font-size: var(--v-input-hint-font-size, 14px);
  --v-switch-hint-color: var(--v-input-hint-color);
  --v-switch-hint-margin-top: var(--v-input-hint-margin-top);
}

.v-switch {
  $c: &;

  width: var(--v-switch-width);

  &-group {
    display: flex;
    align-items: center;
    gap: var(--size-spacing-4);
  }

  &-label {
    color: var(--v-switch-label-color);
    font-size: var(--v-switch-label-font-size);
    font-weight: var(--v-switch-label-font-weight);
  }

  &-button {
    background: var(--v-switch-button-bg-color);
    border: 2px solid var(--v-switch-button-border-color);
    width: var(--v-switch-button-width);
    height: var(--v-switch-button-height);
    padding: var(--v-switch-button-padding-y) var(--v-switch-button-padding-x);
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 9999px;
    cursor: pointer;
  }

  &-button:focus {
    outline-color: var(--v-switch-button-border-color);
  }

  &-thumb {
    background: var(--v-switch-thumb-bg-color);
    width: var(--v-switch-thumb-width);
    height: var(--v-switch-thumb-height);
    border-radius: var(--v-switch-thumb-border-radius);
    display: inline-block;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-x: var(--v-switch-thumb-translate-x);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  &--error {
    color: var(--color-error-500);
    margin-top: var(--size-spacing-1);
    font-size: var(--size-font-sm);
  }

  &-hint {
    font-size: var(--v-switch-hint-font-size);
    color: var(--v-switch-hint-color);
    margin-top: var(--v-switch-hint-margin-top);
  }

  /* checked */
  &--checked {
    #{$c}-thumb {
      --tw-translate-x: var(--v-switch-thumb-active-translate-x);
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }

    #{$c}-button {
      background: var(--v-switch-button-checked-bg-color);
      border-color: var(--v-switch-button-checked-border-color);
    }
  }

  /* colors */
  &-primary &-button {
    --v-switch-button-checked-bg-color: var(--color-primary-500);
    --v-switch-button-checked-border-color: var(--color-primary-500);
  }

  &-secondary &-button {
    --v-switch-button-checked-bg-color: var(--color-secondary-500);
    --v-switch-button-checked-border-color: var(--color-secondary-500);
  }

  &-success &-button {
    --v-switch-button-checked-bg-color: var(--color-success-500);
    --v-switch-button-checked-border-color: var(--color-success-500);
  }

  &-info &-button {
    --v-switch-button-checked-bg-color: var(--color-info-500);
    --v-switch-button-checked-border-color: var(--color-info-500);
  }

  &-warning &-button {
    --v-switch-button-checked-bg-color: var(--color-warning-500);
    --v-switch-button-checked-border-color: var(--color-warning-500);
  }

  &-error &-button {
    --v-switch-button-checked-bg-color: var(--color-error-500);
    --v-switch-button-checked-border-color: var(--color-error-500);
  }

  // sizes
  &--sm {
    --v-switch-button-width: 30px;
    --v-switch-button-height: 16px;
    --v-switch-thumb-width: 12px;;
    --v-switch-thumb-height: 12px;
    --v-switch-thumb-border-radius: 12px;
    --v-switch-thumb-translate-x: 0;
    --v-switch-thumb-active-translate-x: 14px;
  }

  &--md {
    --v-switch-button-width: 36px;
    --v-switch-button-height: 20px;
    --v-switch-thumb-width: 16px;;
    --v-switch-thumb-height: 16px;
    --v-switch-thumb-border-radius: 16px;
    --v-switch-thumb-translate-x: 0;
    --v-switch-thumb-active-translate-x: 16px;
  }

  &--lg {
    --v-switch-button-width: 44px;
    --v-switch-button-height: 24px;
    --v-switch-thumb-width: 20px;;
    --v-switch-thumb-height: 20px;
    --v-switch-thumb-border-radius: 20px;
    --v-switch-thumb-translate-x: 0;
    --v-switch-thumb-active-translate-x: 20px;
  }
}
