:root {
  --v-tabs-padding-x: var(--size-spacing-4);
  --v-tabs-padding-y: var(--size-spacing-2);
  --v-tabs-bg-color: var(--color-transparent);
  --v-tabs-border-color: var(--color-transparent);
  --v-tabs-border-radius: var(--border-radius-lg);

  // items
  --v-tabs-items-gap: 0.25rem /* 4px */;

  /* item */
  --v-tabs-item-padding-x: var(--size-spacing-4);
  --v-tabs-item-padding-y: var(--size-spacing-3);
  --v-tabs-item-font-size: var(--size-font-sm);
  --v-tabs-item-font-weight: var(--size-font-regular);
  --v-tabs-item-bg-color: var(--color-transparent);
  --v-tabs-item-text-color: var(--color-gray-600);
  --v-tabs-item-border-color: var(--color-transparent);
  --v-tabs-item-border-radius: var(--border-radius-lg);

  /* item active */
  --v-tabs-item-active-padding-x: var(--v-tabs-item-padding-x);
  --v-tabs-item-active-padding-y: var(--v-tabs-item-padding-y);
  --v-tabs-item-active-font-size: var(--v-tabs-item-font-size);
  --v-tabs-item-active-font-weight: var(--font-weight-semibold);
  --v-tabs-item-active-bg-color: var(--v-tabs-item-bg-color);
  --v-tabs-item-active-text-color: var(--color-primary-800);
  --v-tabs-item-active-border-color: var(--v-tabs-item-border-color);
  --v-tabs-item-active-border-radius: var(--v-tabs-item-border-radius);

  /* item hover */
  --v-tabs-item-hover-padding-x: var(--v-tabs-item-padding-x);
  --v-tabs-item-hover-padding-y: var(--v-tabs-item-padding-y);
  --v-tabs-item-hover-font-size: var(--v-tabs-item-font-size);
  --v-tabs-item-hover-font-weight: var(--v-tabs-item-font-weight);
  --v-tabs-item-hover-bg-color: var(--v-tabs-item-bg-color);
  --v-tabs-item-hover-text-color: var(--color-gray-800);
  --v-tabs-item-hover-border-color: var(--v-tabs-item-border-color);
  --v-tabs-item-hover-border-radius: var(--v-tabs-item-border-radius);

  /* item disabled */
  --v-tabs-item-disabled-text-color: var(--color-gray-400);

  /* slider */
  --v-tabs-slider-display: block;
  --v-tabs-slider-height: 3px;
  --v-tabs-slider-width: 3rem;
  --v-tabs-slider-max-width: 28rem;
  --v-tabs-slider-bg-color: var(--color-primary-700);
  --v-tabs-slider-border-color: var(--color-primary-700);
  --v-tabs-slider-border-radius: var(--border-radius-lg);

  // variants
  --v-tabs-segmented-control-bg-color: var(--color-gray-50);
}

.v-tabs {
  $c: &;

  padding: var(--v-tabs-padding-y) var(--v-tabs-padding-x);
  background-color: var(--v-tabs-bg-color);
  border-radius: var(--v-tabs-border-radius);
  border: 1px solid var(--v-tabs-border-color);
  display: flex;
  align-items: center;

  &--group:not(&--vertical) {
    flex-direction: column;
    align-items: flex-start;
  }

  &-panels {
    padding: var(--v-tabs-padding-y) var(--v-tabs-padding-x);
    flex: 1 1 0%;
  }

  &-slider {
    height: var(--v-tabs-slider-height);
    width: var(--v-tabs-slider-width);
    background-color: var(--v-tabs-slider-bg-color);
    border-radius: var(--v-tabs-slider-border-radius);
    border: 1px solid var(--v-tabs-slider-border-color);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: var(--v-tabs-slider-display);
  }

  &-items {
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    flex-direction: row;
    display: flex;
    align-items: center;
    column-gap: var(--v-tabs-items-gap);
    white-space: nowrap;
    overflow-x: auto;
    height: 100%;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* vertical */
  &--vertical {
    align-items: flex-start;
  }

  &--vertical &-items {
    flex-direction: column;
  }

  &--vertical &-slider {
    width: var(--v-tabs-slider-height);
    left: 0px;
    top: 0px;
    bottom: 0px;
  }

  /* item */
  &-item {
    font-size: var(--v-tabs-item-font-size);
    font-weight: var(--v-tabs-item-font-weight);
    padding: var(--v-tabs-item-padding-y) var(--v-tabs-item-padding-x);
    background-color: var(--v-tabs-item-bg-color);
    color: var(--v-tabs-item-text-color);
    border-radius: var(--v-tabs-item-border-radius);
    border: 1px solid var(--v-tabs-item-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 0.25rem /* 4px */;
    cursor: pointer;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    height: 100%;

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    &:hover:not(&--active):not(&--disabled):not(:disabled):not(
        &[aria-disabled='true']
      ) {
      font-size: var(--v-tabs-item-hover-font-size);
      font-weight: var(--v-tabs-item-hover-font-weight);
      padding: var(--v-tabs-item-hover-padding-y)
        var(--v-tabs-item-hover-padding-x);
      background-color: var(--v-tabs-item-hover-bg-color);
      color: var(--v-tabs-item-hover-text-color);
      border-radius: var(--v-tabs-item-hover-border-radius);
      box-shadow: var(--v-tabs-item-hover-box-shadow);
      border: 1px solid var(--v-tabs-item-hover-border-color);
    }

    &:disabled,
    &[aria-disabled='true'] {
      cursor: not-allowed;
      --v-tabs-item-bg-color: var(--v-tabs-item-disabled-bg-color);
      --v-tabs-item-text-color: var(--v-tabs-item-disabled-text-color);
      --v-tabs-item-border-color: var(--v-tabs-item-disabled-border-color);
    }

    &--active {
      font-size: var(--v-tabs-item-active-font-size);
      font-weight: var(--v-tabs-item-active-font-weight);
      padding: var(--v-tabs-item-active-padding-y)
        var(--v-tabs-item-active-padding-x);
      background-color: var(--v-tabs-item-active-bg-color);
      color: var(--v-tabs-item-active-text-color);
      border-radius: var(--v-tabs-item-active-border-radius);
      box-shadow: var(--v-tabs-item-active-box-shadow);
      border: 1px solid var(--v-tabs-item-active-border-color);
    }

    &--vertical {
      width: 100%;
      min-width: 100%;
    }

    &-remove {
      margin-left: 0.5rem /* 8px */;
      padding: 0px;
    }
  }

  /* colors */
  &-default {
    --v-tabs-slider-bg-color: var(--color-gray-500);
    --v-tabs-slider-border-color: var(--color-gray-700);
    --v-tabs-item-active-text-color: var(--color-gray-700);
    --v-tabs-item-hover-text-color: var(--color-gray-700);
  }

  &-secondary {
    --v-tabs-slider-bg-color: var(--color-secondary-500);
    --v-tabs-slider-border-color: var(--color-secondary-500);
    --v-tabs-item-active-text-color: var(--color-secondary-500);
    --v-tabs-item-hover-text-color: var(--color-secondary-500);
  }

  &-info {
    --v-tabs-slider-bg-color: var(--color-info-500);
    --v-tabs-slider-border-color: var(--color-info-500);
    --v-tabs-item-active-text-color: var(--color-info-500);
    --v-tabs-item-hover-text-color: var(--color-info-500);
  }

  &-warning {
    --v-tabs-slider-bg-color: var(--color-warning-500);
    --v-tabs-slider-border-color: var(--color-warning-500);
    --v-tabs-item-active-text-color: var(--color-warning-500);
    --v-tabs-item-hover-text-color: var(--color-warning-500);
  }

  &-error {
    --v-tabs-slider-bg-color: var(--color-error-500);
    --v-tabs-slider-border-color: var(--color-error-500);
    --v-tabs-item-active-text-color: var(--color-error-500);
    --v-tabs-item-hover-text-color: var(--color-error-500);
  }

  &-success {
    --v-tabs-slider-bg-color: var(--color-success-500);
    --v-tabs-slider-border-color: var(--color-success-500);
    --v-tabs-item-active-text-color: var(--color-success-500);
    --v-tabs-item-hover-text-color: var(--color-success-500);
  }

  &.v-tabs--group {
    // variants
    &.v-tabs--underline-filled,
    &.v-tabs--underline {
      --v-tabs-items-gap: 0;

      .v-tabs-item {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: var(--v-tabs-slider-height);
          border-radius: var(--v-tabs-slider-border-radius);
          background-color: var(--v-tabs-slider-border-color);
          width: 100%;
          transition: transform 0.5s;
          transform: scaleX(0);
          transform-origin: right;
        }

        &--active {
          &::after {
            transform: scaleX(100%);
            transform-origin: left;
          }
        }
      }
    }
  }

  &--underline-filled,
  &--filled {
    --v-tabs-slider-display: none;

    &.v-tabs-default {
      --v-tabs-item-active-bg-color: var(--color-gray-50);
    }
    &.v-tabs-primary {
      --v-tabs-item-active-bg-color: var(--color-primary-50);
    }
    &.v-tabs-secondary {
      --v-tabs-item-active-bg-color: var(--color-secondary-50);
    }
    &.v-tabs-info {
      --v-tabs-item-active-bg-color: var(--color-info-50);
    }
    &.v-tabs-warning {
      --v-tabs-item-active-bg-color: var(--color-warning-50);
    }
    &.v-tabs-error {
      --v-tabs-item-active-bg-color: var(--color-error-50);
    }
    &.v-tabs-success {
      --v-tabs-item-active-bg-color: var(--color-success-50);
    }
  }

  // underline-filled
  &--underline-filled {
    --v-tabs-slider-display: block;
  }

  // segmented control
  &--segmented-control,
  &--segmented-control-rounded {
    --v-tabs-slider-height: 40px;
    --v-tabs-padding-x: 0;
    --v-tabs-padding-y: 0;
    --v-tabs-bg-color: transparent;

    // slider
    --v-tabs-slider-display: block;
    --v-tabs-slider-height: 45px;
    --v-tabs-slider-max-width: 28rem;
    --v-tabs-slider-border-color: var(--color-transparent);

    --v-tabs-item-padding-y: var(--size-spacing-2);
    --v-tabs-item-active-padding-y: var(--size-spacing-2);
    --v-tabs-item-hover-padding-y: var(--size-spacing-2);

    // active item
    --v-tabs-item-active-bg-color: var(--color-transparent);

    // shadow
    --v-tabs-item-active-box-shadow: var(--effect-shadow-sm);

    // vertical
    &.v-tabs--vertical {
      --v-tabs-slider-height: auto;

      .v-tabs-slider {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      .v-tabs-items {
        width: auto;
        border-radius: var(--border-radius-xl);
      }
    }

    .v-tabs-items {
      padding: var(--size-spacing-2) var(--size-spacing-2);
      background-color: var(--v-tabs-segmented-control-bg-color);
      width: 100%;
      border-radius: var(--border-radius-xl);
    }

    .v-tabs-slider {
      top: 0.5rem;
      z-index: 0;
    }

    .v-tabs-item {
      z-index: 1;
    }

    .v-tabs-panels {
      padding: var(--size-spacing-2) var(--size-spacing-3);
    }

    &.v-tabs-default {
      --v-tabs-slider-bg-color: var(--color-white);
      --v-tabs-item-active-text-color: var(--color-gray-700);
    }
    &.v-tabs-primary {
      --v-tabs-slider-bg-color: var(--color-primary-50);
      --v-tabs-item-active-text-color: var(--color-primary-700);
    }
    &.v-tabs-secondary {
      --v-tabs-slider-bg-color: var(--color-secondary-50);
      --v-tabs-item-active-text-color: var(--color-secondary-700);
    }
    &.v-tabs-info {
      --v-tabs-slider-bg-color: var(--color-info-50);
      --v-tabs-item-active-text-color: var(--color-info-700);
    }
    &.v-tabs-warning {
      --v-tabs-slider-bg-color: var(--color-warning-50);
      --v-tabs-item-active-text-color: var(--color-warning-700);
    }
    &.v-tabs-error {
      --v-tabs-slider-bg-color: var(--color-error-50);
      --v-tabs-item-active-text-color: var(--color-error-700);
    }
    &.v-tabs-success {
      --v-tabs-slider-bg-color: var(--color-success-50);
      --v-tabs-item-active-text-color: var(--color-success-700);
    }
  }

  &--segmented-control-rounded {
    .v-tabs-items,
    .v-tabs-item,
    .v-tabs-slider {
      border-radius: var(--border-radius-full);
    }
  }

  // grow
  &--grow {
    .v-tabs-items {
      width: 100%;
    }
    .v-tabs-item {
      flex-grow: 1;
      justify-content: center;
      text-align: center;
    }
  }
}
