.dark {
  .v-tabs {
    /* item */
    --v-tabs-item-text-color: var(--color-gray-true-400);

    /* item active */
    --v-tabs-item-active-text-color: var(--color-gray-true-200);

    /* item hover */
    --v-tabs-item-hover-text-color: var(--color-gray-true-200);
  }
}
