:root {
  --v-tabs-padding-x: theme('padding.4');
  --v-tabs-padding-y: theme('padding.2');
  --v-tabs-bg-color: theme('colors.transparent');
  --v-tabs-border-color: theme('colors.transparent');
  --v-tabs-border-radius: theme('borderRadius.DEFAULT');

  /* item */
  --v-tabs-item-padding-x: theme('padding.4');
  --v-tabs-item-padding-y: theme('padding.2');
  --v-tabs-item-font-size: theme('fontSize.base');
  --v-tabs-item-font-weight: theme('fontWeight.normal');
  --v-tabs-item-bg-color: theme('colors.transparent');
  --v-tabs-item-text-color: theme('colors.gray.800');
  --v-tabs-item-border-color: theme('colors.transparent');
  --v-tabs-item-border-radius: theme('borderRadius.DEFAULT');

  /* item active */
  --v-tabs-item-active-padding-x: var(--v-tabs-item-padding-x);
  --v-tabs-item-active-padding-y: var(--v-tabs-item-padding-y);
  --v-tabs-item-active-font-size: var(--v-tabs-item-font-size);
  --v-tabs-item-active-font-weight: theme('fontWeight.semibold');
  --v-tabs-item-active-bg-color: var(--v-tabs-item-bg-color);
  --v-tabs-item-active-text-color: var(--v-tabs-item-text-color);
  --v-tabs-item-active-border-color: var(--v-tabs-item-border-color);
  --v-tabs-item-active-border-radius: var(--v-tabs-item-border-radius);

  /* item hover */
  --v-tabs-item-hover-padding-x: var(--v-tabs-item-padding-x);
  --v-tabs-item-hover-padding-y: var(--v-tabs-item-padding-y);
  --v-tabs-item-hover-font-size: var(--v-tabs-item-font-size);
  --v-tabs-item-hover-font-weight: var(--v-tabs-item-font-weight);
  --v-tabs-item-hover-bg-color: var(--v-tabs-item-bg-color);
  --v-tabs-item-hover-text-color: var(--v-tabs-item-text-color);
  --v-tabs-item-hover-border-color: var(--v-tabs-item-border-color);
  --v-tabs-item-hover-border-radius: var(--v-tabs-item-border-radius);

  /* slider */
  --v-tabs-slider-height: 3px;
  --v-tabs-slider-width: 3rem;
  --v-tabs-slider-max-width: theme('maxWidth.md');
  --v-tabs-slider-bg-color: theme('colors.primary.500');
  --v-tabs-slider-border-color: theme('colors.primary.500');
  --v-tabs-slider-border-radius: theme('borderRadius.DEFAULT');
}

.v-tabs {
  $c: &;

  padding: var(--v-tabs-padding-y) var(--v-tabs-padding-x);
  background-color: var(--v-tabs-bg-color);
  border-radius: var(--v-tabs-border-radius);
  border: 1px solid var(--v-tabs-border-color);
  display: flex;
  align-items: center;

  &-slider {
    height: var(--v-tabs-slider-height);
    width: var(--v-tabs-slider-width);
    background-color: var(--v-tabs-slider-bg-color);
    border-radius: var(--v-tabs-slider-border-radius);
    border: 1px solid var(--v-tabs-slider-border-color);

    @apply transition-all duration-300 absolute inset-x-0 bottom-0;
  }

  &-items {
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    @apply flex-row flex
      items-center
      gap-x-1
      whitespace-nowrap
      overflow-x-auto
      h-full
      relative;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* vertical */
  &--vertical &-items {
    @apply flex-col w-full;
  }

  &--vertical &-slider {
    width: var(--v-tabs-slider-height);

    @apply inset-y-0 left-0;
  }

  /* item */
  &-item {
    font-size: var(--v-tabs-item-font-size);
    font-weight: var(--v-tabs-item-font-weight);
    padding: var(--v-tabs-item-padding-y) var(--v-tabs-item-padding-x);
    background-color: var(--v-tabs-item-bg-color);
    color: var(--v-tabs-item-text-color);
    border-radius: var(--v-tabs-item-border-radius);
    border: 1px solid var(--v-tabs-item-border-color);

    @apply focus:outline-none
      flex
      items-center
      justify-between
      gap-y-1
      transition
      duration-300
      cursor-pointer
      h-full;

    &:hover:not(&--active) {
      font-size: var(--v-tabs-item-hover-font-size);
      font-weight: var(--v-tabs-item-hover-font-weight);
      padding: var(--v-tabs-item-hover-padding-y)
        var(--v-tabs-item-hover-padding-x);
      background-color: var(--v-tabs-item-hover-bg-color);
      color: var(--v-tabs-item-hover-text-color);
      border-radius: var(--v-tabs-item-hover-border-radius);
      border: 1px solid var(--v-tabs-item-hover-border-color);
    }

    &--active {
      font-size: var(--v-tabs-item-active-font-size);
      font-weight: var(--v-tabs-item-active-font-weight);
      padding: var(--v-tabs-item-active-padding-y)
        var(--v-tabs-item-active-padding-x);
      background-color: var(--v-tabs-item-active-bg-color);
      color: var(--v-tabs-item-active-text-color);
      border-radius: var(--v-tabs-item-active-border-radius);
      border: 1px solid var(--v-tabs-item-active-border-color);
    }

    &--vertical {
      @apply w-full min-w-full;
    }

    &-remove {
      @apply ml-2 p-0;
    }
  }

  /* colors */
  &-secondary {
    --v-tabs-slider-bg-color: theme('colors.secondary.500');
    --v-tabs-slider-border-color: theme('colors.secondary.500');
  }

  &-info {
    --v-tabs-slider-bg-color: theme('colors.info.500');
    --v-tabs-slider-border-color: theme('colors.info.500');
  }

  &-warning {
    --v-tabs-slider-bg-color: theme('colors.warning.500');
    --v-tabs-slider-border-color: theme('colors.warning.500');
  }

  &-error {
    --v-tabs-slider-bg-color: theme('colors.error.500');
    --v-tabs-slider-border-color: theme('colors.error.500');
  }

  &-success {
    --v-tabs-slider-bg-color: theme('colors.success.500');
    --v-tabs-slider-border-color: theme('colors.success.500');
  }
}
