name: Publish Canary
on:
  push:
    # paths:
    #   - 'packages/**'
    branches:
      - main

jobs:
  publish:
    # if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 'Use NodeJS 16'
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: 'Version and publish' # Interesting step
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
          npx lerna bootstrap
          cd packages/nuxt && yarn
          npx lerna run build
          npx lerna publish --canary --yes
